@if (isBackButtonEnabled) {
  <div class="icon-buttons" style="margin-left: -16px; margin-right: 12px;">
    <button (click)='goBack()'>
      <mat-icon svgIcon="arrow-back"></mat-icon>
    </button>
  </div>
}

@if (title) {
  <label title (click)="hel()">{{title}}</label>
}

@if (!title) {
  <ng-content select="label[title]"></ng-content>
}

<div class="my-spacer"></div>

@if (isMoreButtonVisible) {
  <div class="icon-buttons mobile" style="margin-left: auto">
    <ng-content select="button[mobileIcon]"></ng-content>
    <button class="menu-trigger" (click)='openMenu()'>
      <mat-icon svgIcon="more-vert"></mat-icon>
    </button>
  </div>
}

<div class='items' #items [ngClass]="{items:true, open:isMenuOpen}">
  <ng-content></ng-content>
</div>