.container {
  display: flex;
  flex-wrap: wrap;
}

.left,
.right {
  flex: 1;
}

.left {
  text-align: left;
}

.right {
  align-content: end;
}

.flex {
  display: flex;
}

.badge-wrapper {
  position: relative;
  display: inline-block;
}

.status-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.pagos-badge {
  position: absolute;
  top: -7px;
  right: -23px;
  background-color: rgb(185, 185, 185);
  color: rgb(29, 26, 59);
  font-size: 9.5px;
  width: 48px;
  height: 16px;
  border-radius: 10px;
  text-align: center;
  line-height: 16px;
  font-weight: bold;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}



/* Ocultar subscript wrapper y eliminar alineamiento inferior del datepicker */
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

::ng-deep .mat-mdc-form-field-bottom-align {
  align-items: stretch !important;
}

::ng-deep .mat-mdc-form-field {
  line-height: normal !important;
}

::ng-deep .mat-mdc-form-field-flex {
  align-items: center !important;
}
