<app-workspace-nav>
  <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>
  <div class='main'>

    <app-experimental-menu titulo="Messages Settings"></app-experimental-menu>

    <div class='content'>
      <div style="display:flex; flex-flow: row; max-height: 100%;">
        <div style="min-width:320px;margin-right:24px;">


          <!-- MENSAJE RECORDATORIO US -->
          <h4 class="title">Reminder appointment message US</h4>
          <div class="iigwo-input">
            <label >Reminder message US</label>
            <textarea style="max-width: 600px;min-height: 70px;width: 600px;" [(ngModel)]="mensajeRecordatorioUs"
              [attr.readOnly]="cambiandoMensajeRecordatorioUs ? null : false"
            (ngModelChange)="mensajeRecordatorioUs"></textarea>
            <p style="margin-top: 5px;">Remember that the values ​​in &#36;&#123;value&#125; are the values ​​that come from the request</p>
          </div>
          @if (cambiandoMensajeRecordatorioUs==false) {
            <button class="iigwo" (click)="cambiandoMensajeRecordatorioUs=true"
              >
              <label>Change message text US</label>
            </button>
          }
          @if (cambiandoMensajeRecordatorioUs==true) {
            <button class="iigwo accent" (click)="cambiarDato(17)">
              <label>Change message text US</label>
            </button>
          }
          @if (cambiandoMensajeRecordatorioUs==true) {
            <button class="iigwo" (click)="cancelarCambio(17)">
              <label>Cancel</label>
            </button>
          }
          <hr style="max-width:396px;margin-bottom:24px;">

          <!-- MENSAJE RECORDATORIO ES -->
          <h4 class="title" >Reminder appointment message ES</h4>
          <div class="iigwo-input">
            <label>Reminder message ES</label>
            <textarea style="max-width: 600px;min-height: 70px;width: 600px;" [(ngModel)]="mensajeRecordatorioEs"
              [attr.readOnly]="cambiandoMensajeRecordatorioEs ? null : false"
            (ngModelChange)="mensajeRecordatorioEs"></textarea>
            <p style="margin-top: 5px;">Remember that the values ​​in &#36;&#123;value&#125; are the values ​​that come from the request</p>
          </div>
          @if (cambiandoMensajeRecordatorioEs==false) {
            <button class="iigwo" (click)="cambiandoMensajeRecordatorioEs=true"
              >
              <label>Change message text ES</label>
            </button>
          }
          @if (cambiandoMensajeRecordatorioEs==true) {
            <button class="iigwo accent" (click)="cambiarDato(18)">
              <label>Change message text ES</label>
            </button>
          }
          @if (cambiandoMensajeRecordatorioEs==true) {
            <button class="iigwo" (click)="cancelarCambio(18)">
              <label>Cancel</label>
            </button>
          }
          <hr style="max-width:396px;margin-bottom:24px;">

          <!-- MENSAJE PAYMENT US -->
          <h4 class="title">Reminder payment message US</h4>
          <div class="iigwo-input">
            <label>Reminder payment message US</label>
            <textarea style="max-width: 600px;min-height: 70px;width: 600px;" [(ngModel)]="mensajePaymentUs"
              [attr.readOnly]="cambiandoMensajePaymentUs ? null : false"
            (ngModelChange)="mensajePaymentUs"></textarea>
            <p style="margin-top: 5px;">Remember that the values ​​in &#36;&#123;value&#125; are the values ​​that come from the request</p>
          </div>
          @if (cambiandoMensajePaymentUs==false) {
            <button class="iigwo" (click)="cambiandoMensajePaymentUs=true"
              >
              <label>Change message text US</label>
            </button>
          }
          @if (cambiandoMensajePaymentUs==true) {
            <button class="iigwo accent" (click)="cambiarDato(17)">
              <label>Change message text US</label>
            </button>
          }
          @if (cambiandoMensajePaymentUs==true) {
            <button class="iigwo" (click)="cancelarCambio(17)">
              <label>Cancel</label>
            </button>
          }
          <hr style="max-width:396px;margin-bottom:24px;">

          <!-- MENSAJE PAYMENT ES -->
          <h4 class="title">Reminder payment message ES</h4>
          <div class="iigwo-input">
            <label>Reminder payment message ES</label>
            <textarea style="max-width: 600px;min-height: 70px;width: 600px;" [(ngModel)]="mensajePaymentEs"
              [attr.readOnly]="cambiandoMensajePaymentEs ? null : false"
            (ngModelChange)="mensajePaymentEs"></textarea>
            <p style="margin-top: 5px;">Remember that the values ​​in &#36;&#123;value&#125; are the values ​​that come from the request</p>
          </div>
          @if (cambiandoMensajePaymentEs==false) {
            <button class="iigwo" (click)="cambiandoMensajePaymentEs=true"
              >
              <label>Change message text ES</label>
            </button>
          }
          @if (cambiandoMensajePaymentEs==true) {
            <button class="iigwo accent" (click)="cambiarDato(18)">
              <label>Change message text ES</label>
            </button>
          }
          @if (cambiandoMensajePaymentEs==true) {
            <button class="iigwo" (click)="cancelarCambio(18)">
              <label>Cancel</label>
            </button>
          }
          <hr style="max-width:396px;margin-bottom:24px;">




        </div>
      </div>
    </div>

    <!--Cargando-->
    @if (cargando) {
      <div class='iigwo-loading'>
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</div>
