<h2 mat-dialog-title style="font-family: regular;color:#75518c;display:flex;align-items:center">
  <span>New payment</span>

  <div class="iigwo-input" style="margin-left:auto">
          <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 15px 6px 0 0px;"
            id="notif" [checked]="sendNotif" (change)="sendNotif = !sendNotif">
          <label for="notif" style="display: inline-block;line-height: 24px;margin: 15px 0 0 0 ;font-size: 12px;">Sen Notif.</label>
        </div>

</h2>

<mat-dialog-content>
  <div class="iigwo-input">
    <label>Amount</label>
    <input type="number" [(ngModel)]="movimientoSolicitud.monto">
  </div>
  <div class="iigwo-input">
    <label>Payment Type</label>
    <select [(ngModel)]="movimientoSolicitud.idTipoPago" (ngModelChange)="typeSelected()" [ngModelOptions]="{standalone: true}">
      @for (tipoPago of arrTipoPago; track tipoPago) {
        <option [value]="tipoPago.idTipoPago">{{tipoPago.nombre}}
        </option>
      }
    </select>
  </div>
  <div class="iigwo-input">
    <label>Type</label>
    <select [(ngModel)]="movimientoSolicitud.tipoMovimiento" [ngModelOptions]="{standalone: true}">
      <option value="Payment">Payment</option>
    </select>
  </div>
  <div class="iigwo-input">
    <label>Discount</label>
    <input type="number" [(ngModel)]="movimientoSolicitud.descuento">
  </div>
  <div class="iigwo-input">
    <label>Comments</label>
    <textarea [(ngModel)]="movimientoSolicitud.descripcion"></textarea>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="iigwo" style="margin-left:auto;" (click)='cerrar()'>Cancel</button>
  <button class="iigwo accent" style="margin-right:0;" (click)='crear()'>Send</button>
</mat-dialog-actions>

<!-- CARGANDO-->
@if (cargando) {
  <div class='iigwo-loading'>
    <mat-spinner></mat-spinner>
  </div>
}
