<app-workspace-nav>
  <app-solicitudes-nav></app-solicitudes-nav>
</app-workspace-nav>
<div class='workspace'>
  <div class='main'>
    <app-experimental-menu [titulo]="titulo" backButtonEnabled="true">

      <button *ngIf="isMaster || isBackOffice || isClinician " (click)='refreshSolicitudCompleta()' class="btn"
        style="color: #FFFFFF;background: #f3c956; border-radius: 5px; height: 20px; line-height: 20px;">
        <mat-icon svgIcon="refresh"
          style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
        <label style="margin: auto;color: #FFFFFF;text-transform: none;">Refresh File</label>
      </button>

      <div *ngIf="solicitud.idEstatusSolicitud != 1" style="width: 1px;
        height: 20px;
        background-color: #ccc;margin-right: 8px; margin-left: 10px;"></div>

      <span class="badge-status badge-color-schedule-title"
        *ngIf="(isMaster || isVendor || isBackOffice || isInterviewer || isTemplateCreator) && solicitud.fecha_schedule">Intv. Case Mgr
        {{solicitud.fecha_schedule | dateMMDDYYYY:'datetime'}}
        <mat-icon *ngIf="solicitud.finIntIni" svgIcon="seenD"></mat-icon>
      </span>

      <a *ngIf="solicitud.finIntIni && isInterviewer" class="attended-titulo-solicitud">Attended</a>

      <span class="badge-status badge-color-schedule-scales-title"
        *ngIf="(isMaster || isVendor || isBackOffice || isTemplateCreator || isInterviewerScales) && solicitud.fecha_schedule_scales">Intv.
        Scale
        {{solicitud.fecha_schedule_scales | dateMMDDYYYY:'datetime'}}
        <mat-icon *ngIf="solicitud.finIntSc" svgIcon="seenD"></mat-icon>
      </span>

      <span class="badge-status badge-color-schedule-clinician-title"
        *ngIf="(isMaster || isVendor || isBackOffice || isTemplateCreator || isClinician) && solicitud.fechaClinicianAppo">Intv.
        Clinician
        {{solicitud.fechaClinicianAppo | dateMMDDYYYY:'datetime'}}
        <mat-icon *ngIf="solicitud.finAsgClnc" svgIcon="seenD"></mat-icon>
      </span>

      <a *ngIf="solicitud.finIntSc && isInterviewerScales" class="attended-titulo-solicitud">Attended</a>

      <div *ngIf="solicitud.dueDate" style="width: 1px;
        height: 20px;
        background-color: #ccc;margin-right: 8px; margin-left: 10px;"></div>

      <span class="badge-status badge-color-due-date-title" *ngIf="solicitud.dueDate">Due Date
        {{solicitud.dueDate | dateMMDDYYYY:'datetime'}}</span>

    </app-experimental-menu>

    <div style="display:flex; flex-flow: row" *ngIf="creando || solicitud.idSolicitud">
      <div class='content-left' [ngStyle]="{'right': (creando ? '0' : '280px')}"
        style="display:flex; flex-flow: column;">
        <div style="display:flex; flex-flow: row; flex-wrap: wrap;">

          <div class="column">

            <div class="iigwo-input" *ngIf="creando">
              <label>Creation Date</label>
              <input [ngModel]="solicitud.fechaInicio" (ngModelChange)='solicitud.fechaInicio = $event' type="date">
            </div>


            <div class="iigwo-input">
              <label>Customer Name</label>
              <input type="text" [(ngModel)]="solicitud.cliente">
            </div>

            <div class="iigwo-input">
              <label>Last Names</label>
              <input type="text" [(ngModel)]="solicitud.apellidos">
            </div>

            <div class="iigwo-input">
              <label>Type</label>
              <select [(ngModel)]="inputTipoSolicitud" [disabled]="solicitud.idEstatusSolicitud == 11"
                [ngModelOptions]="{standalone: true}">
                <option *ngFor="let tipoSolicitud of arrTipoSolicitud" [ngValue]="tipoSolicitud">
                  {{tipoSolicitud.nombre}}</option>
              </select>
            </div>

            <div class="iigwo-input">
              <label>Additional</label>
              <input type="text" [(ngModel)]="solicitud.adicional">
            </div>

            <div class="iigwo-input">
              <div class="wrapper">
                <label>Phone<a (click)="validatePhone()">Validate Phone</a></label>
                <input type="text" [(ngModel)]="solicitud.telefono" (input)="onPhoneNumberInput($event.target.value)"
                  placeholder="(###) ###-####" maxlength="14">
              </div>
            </div>

            <div class="iigwo-input" *ngIf="!(isInterviewer)">
              <label>Email</label>
              <input type="email" [(ngModel)]="solicitud.email">
            </div>

            <!--<div class="iigwo-input">
              <label>Birth Date</label>
              <input [ngModel]="solicitud.fechaNacimiento" (ngModelChange)='solicitud.fechaNacimiento = $event'
                type="date">
            </div>-->

            <!--en caso que deseas validacion fecha al escribir (input)="validarFechaNacimientoTexto($event.target.value)"-->

            <div class="iigwo-input">
              <label>Birth Date
                <!--<a *ngIf="fechaNacimientoError" class="error-fecha">Invalid format, Use MM/DD/YYYY </a>-->
              </label>
              <mat-form-field appearance="outline" class="custom-datepicker">
                
                <input 
                matInput 
                [matDatepicker]="pickerFN" 
                [(ngModel)]="fechaNacimientoMat" 
                (dateChange)="changeFechaNacimientoMat()"
                 placeholder="MM/DD/YYYY" 
                
                  />
                <mat-datepicker-toggle matSuffix [for]="pickerFN"></mat-datepicker-toggle>
                <mat-datepicker #pickerFN ></mat-datepicker>
              </mat-form-field>
            </div> 
            
            <div class="iigwo-input">
              <label>Gender</label>
              <select [(ngModel)]="solicitud.sexo" [ngModelOptions]="{standalone: true}">
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </div>

          </div>

          <div class="column">

            <div class="iigwo-input"
              *ngIf="editando && !(isTemplateCreator || isInterviewer || isInterviewerScales || isClinician)">
              <label>Amount</label>
              <input type="number" [(ngModel)]="solicitud.amount"
                [readOnly]="solicitud.idEstatusSolicitud == 11 || isGhostwriting">
            </div>

            <div class="iigwo-input"
              *ngIf="(isMaster || isVendor || isBackOffice || isInterviewer || isTemplateCreator ||isInterviewerScales || isGhostwriting || isClinician)">
              <label>Language</label>
              <select [(ngModel)]="solicitud.idioma" [ngModelOptions]="{standalone: true}"
                [disabled]="solicitud.idEstatusSolicitud == 11">
                <option *ngFor='let o of arrLanguages' [ngValue]="o.name">{{o.name}}</option>
              </select>
            </div>

            <div class="iigwo-input"
              *ngIf="editando && (isMaster || isVendor || isBackOffice || isInterviewer || isTemplateCreator ||isInterviewerScales || isGhostwriting || isClinician)">
              <label>Type of Interview</label>
              <select [(ngModel)]="solicitud.tipoEntrevista" [ngModelOptions]="{standalone: true}"
                [disabled]="solicitud.idEstatusSolicitud == 11">
                <option *ngFor='let o of arrTypesOfInterview' [ngValue]="o.name">{{o.name}}</option>
              </select>
            </div>

            <div class="iigwo-input" *ngIf="editando && !(isInterviewer || isInterviewerScales)">
              <label>Address (Number, City and Postal Code)</label>
              <input type="text" [(ngModel)]="solicitud.direccion">
            </div>

            <div class="iigwo-input">
              <label>State</label>
              <select [(ngModel)]="solicitud.estado" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let state of arrStates" [ngValue]="state.abbreviation">
                  {{state.abbreviation}}</option>
              </select>
            </div>

            <div class="iigwo-input" *ngIf="editando && !(isInterviewer || isInterviewerScales )">
              <label>Referral Source</label>
              <select [(ngModel)]="solicitud.referencia" [ngModelOptions]="{standalone: true}">
                <option *ngFor='let o of arrReferralSources' [ngValue]="o.name">{{o.name}}</option>
              </select>
            </div>

            <div class="iigwo-input" *ngIf="creando && !(isInterviewer || isInterviewerScales)">
              <label>Comments</label>
              <textarea [(ngModel)]="comentarios"></textarea>
            </div>

            <div class="iigwo-input" *ngIf="editando && !(isInterviewer || isInterviewerScales)">
              <label>Docusign</label>
              <div class="input-row">
                <input type="url" [(ngModel)]="solicitud.docusign">
                <button (click)='viewDoc(solicitud.docusign)' class="btn-icon external-link-color"
                  [disabled]="!(solicitud.docusign && solicitud.docusign.length > 0)" matTooltip="View Doc">
                  <mat-icon svgIcon="external-link"></mat-icon>
                </button>
              </div>
            </div>

            <div class="iigwo-input" *ngIf="editando && !(isInterviewer)">
              <label>Scales</label>
              <div class="input-row" style="margin-bottom: 4px;" *ngIf="solicitud.idEstatusSolicitud != 11">
                <input type="text" [(ngModel)]="inputScale.scale">
                <button (click)='addScale()' class="btn-icon" matTooltip="Add"
                  [disabled]="!(inputScale.scale && inputScale.scale.length > 0)">
                  <mat-icon svgIcon="add"></mat-icon>
                </button>
              </div>
              <div *ngFor="let scale of arrScales" style="display: inline-block;">
                <span class="badge-file-icon" style="color: darkviolet;"><mat-icon svgIcon="scales"></mat-icon></span>
                <span class="badge-file badge-file-name"
                  [ngStyle]="{'padding-right': solicitud.idEstatusSolicitud != 11 ? '21px' : '5px'}">{{scale.scale}}</span>
                <span style="margin-left: -18px;" *ngIf="solicitud.idEstatusSolicitud != 11">
                  <button class="iigwo adjuntos-options" (click)="removeScale(scale.idScale)">
                    <mat-icon style="margin-top: 1px;" svgIcon="close"></mat-icon>
                  </button>
                </span>
              </div>
            </div>

            <div class="iigwo-input" *ngIf="creando">
              <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
                id="external" [checked]="solicitud.external" (change)="usuarioExternalChange()">
              <label for="external" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">External
                File</label>
            </div>

            <div class="iigwo-input" *ngIf="creando && solicitud.external">
              <label>Partner Customer</label>
              <select [(ngModel)]="solicitud.usuarioExternal" [ngModelOptions]="{standalone: true}"
                [disabled]="solicitud.idEstatusSolicitud == 11">
                <option *ngFor='let o of arrUsuariosExternal' [ngValue]="o.idUsuario">{{o.nombre}}</option>
              </select>
            </div>

            <div class="iigwo-input" *ngIf="editando && !(isInterviewer || isInterviewerScales)">
              <label>Case number</label>
              <input type="text" [(ngModel)]="solicitud.numeroDeCaso">
            </div>

            <!--
            <div class="iigwo-input" *ngIf="isMaster && editando">
              <div class="wrapper">
                <label>Assigned clinician <a *ngIf="solicitud.interviewMaster" class="attended"> Appointment
                    attended</a> <a *ngIf="solicitud.assignedClinician > 0 && !solicitud.interviewMaster"
                    (click)="limpiarAssignedClinician()">Clear</a> </label>
                <select [(ngModel)]="solicitud.assignedClinician" [disabled]="solicitud.idEstatusSolicitud == 11 "
                  [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let o of arrAssignedClinicians" [ngValue]="o.idUsuario">
                    {{o.nombre}}</option>
                </select>
              </div>
            </div>-->

            <div class="iigwo-input" *ngIf="(isMaster || isBackOffice) && editando && solicitud.idRolUsInt != 11">
              <div class="wrapper">
              <label>Assigned clinician <a *ngIf="solicitud.interviewMaster" class="attended"> Appointment
                  attended</a>
                  <div>
                    <a *ngIf="solicitud.assignedClinician > 0 && !solicitud.interviewMaster"
                  (click)="limpiarAssignedClinician()">Clear</a> 
                  <a style="color:rgb(210, 145, 84)" *ngIf="solicitud.assignedClinician > 0 && !solicitud.finAsgClnc"
                  (click)="finishClncAssignedClinician()">Finish Clnc.</a> 
                
                </div>
              </label>
              <input readonly type="text" [(ngModel)]="solicitud.usuarioClinicianNombre">
            </div>
            </div>


          </div>

          <div class="column">


            <div *ngIf="solicitud.idAbogado === 0 || creando">
              <div style="margin-bottom: -3px;"
                *ngIf="!(isInterviewer || isTemplateCreator || isVendor || isClinician ) || usuario.usuario == 'brayan' || usuario.usuario == 'ojuarez'">
                <label style="font-size: 12px;display: block;
                  color: rgba(0, 0, 0, 0.7);
                  font-size: 12px;
                  font-family: regular;
                  line-height: 1.2;">Lawyer</label>
              </div>


              <div class="iigwo-input"
                *ngIf="!(isInterviewer || isTemplateCreator || isVendor || isClinician) || usuario.usuario == 'brayan' || usuario.usuario == 'ojuarez' || creando">

                <mat-form-field appearance="outline" class="custom-form-field" style="width: 100%;">

                  <input matInput type="text" placeholder="Find lawyer" [formControl]="abogadoControl"
                    [matAutocomplete]="auto"
                    [value]="abogadoSeleccionado ? (abogadoSeleccionado.nombre ? '' : abogadoSeleccionado.firma  ) : ''" />

                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)"
                    [displayWith]="displayFn">
                    <mat-option style="font-size: 12px" *ngFor="let a of abogados" [value]="a">
                      {{ a.nombre }} <span *ngIf="a.email">({{ a.email }})</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

              </div>
            </div>

            <div *ngIf="solicitud.idAbogado === 0">
              <div class="action-links"  *ngIf="(isBackOffice || isMaster || isInterviewerScales) || usuario.usuario == 'brayan' || usuario.usuario == 'ojuarez'">
                  <a class="addNewLayer" (click)="onNuevoAbogado()">Add new lawyer</a>
                 <div style="width: 1px;  height: 12px; background-color: #ccc;margin-right: 8px; margin-left: 10px;"></div>
                <a class="addMailToExistingContact" (click)="onAgregarEmailAbogado()">Add an email to an existing contact</a>
                
              <!--<button (click)='onNuevoAbogado()' class="btn-color" 
                  [ngStyle]="{'background': '#ffffff','border': '1px solid var(--app-secondary)'}" >
                  <span  [ngStyle]="{'color': 'var(--app-secondary)','font-size': '11px'}">Add new lawyer
                  to file</span>
                </button>
                
                <button (click)='onAgregarEmailAbogado()' class="btn-color" 
                  [ngStyle]="{'background': '#ffffff','border': '1px solid var(--app-primary)'}" >
                  <span  [ngStyle]="{'color': 'var(--app-primary)','font-size': '11px'}">Add other lawyer mail
                  to file</span>
                </button>-->
              </div>
            </div>

            <div class="iigwo-input"
              *ngIf="(!(isInterviewer  || isTemplateCreator || isVendor || isClinician) || usuario.usuario == 'brayan' || usuario.usuario == 'ojuarez') && solicitud.idAbogado > 0 ">
              <!--<div class="wrapper">
                            <label> <a *ngIf="solicitud.idAbogado > 0" (click)="limpiarAbogado()">Clear lawyer</a> </label>
                          </div>-->
              <div class="action-links-split">
                <label (click)="limpiarAbogado()" *ngIf="solicitud.idAbogado > 0" class="clearLawyer">Clear lawyer</label>
                <div style="width: 1px;  height: 12px; background-color: #ccc;margin-right: 8px; margin-left: 10px;"></div>
                <label (click)="verMailsAbogado()" *ngIf="solicitud.idAbogado > 0" class="addMailLawyerToFile">Add other lawyer mail
                  to file</label>
              </div>
              <label><span class="label-prefix">Lawyer Firm: </span>{{lawyerFirm}}</label>
              <label><span class="label-prefix">Lawyer: </span>{{lawyerName}}</label>
              <label><span class="label-prefix">Email(s): </span>{{solicitud.emailAboSel}}</label>
              <label><span class="label-prefix">Phone(s): </span>{{lawyerPhone}}</label>
              <label><span class="label-prefix">Sinonymous(s): </span>{{lawyerSyn}}</label>
              <button (click)='agregarCupon()' class="btn-color" *ngIf="!solicitud.conCupon"
                style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin: 0.5px;padding:5px;">
                <span style="color: #000000; font-size: 11px;">Add coupon</span>
                <mat-icon svgIcon="couponD" style="color: #000000; width: 14px;  vertical-align: middle;"></mat-icon>
              </button>
              <label style="color: #FF603B;" *ngIf="solicitud.conCupon">This lawyer has already used his coupon</label>
            </div>

            <label style="color: rgb(159, 111, 24); font-size: 0.9em;margin-bottom: 10px;margin-top:15px"
              *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
              ⚠️ This fields will be deprecated, use the new "Lawyer" field.
            </label>

            <div class="iigwo-input" *ngIf="false">
              <input type="text" [(ngModel)]="solicitud.emailAboSel">
            </div>

            <div class="iigwo-input"
              *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
              <label>Lawyer name</label>
              <input type="text" [(ngModel)]="solicitud.abogado">
            </div>
            
            <div class="iigwo-input"
              *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
              <label>Paralegal's Email</label>
              <input type="email" [(ngModel)]="solicitud.email_abogado">
            </div>

            <div class="iigwo-input"
              *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
              <label>Law firm</label>
              <input type="text" [(ngModel)]="solicitud.firmaAbogados">
            </div>

            <div class="iigwo-input"
              *ngIf="editando && !(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
              <label>Paralegal Name</label>
              <input type="text" [(ngModel)]="solicitud.paralegalName">
            </div>

            <div class="iigwo-input"
              *ngIf="editando && !(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
              <label>Paralegal Emails</label>
              <input type="text" [(ngModel)]="solicitud.paralegalEmails">
            </div>

            <div class="iigwo-input"
              *ngIf="editando && !(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
              <label>Paralegal Phones</label>
              <input type="text" [(ngModel)]="solicitud.paralegalTelefonos">
            </div>

          </div>

        </div>


        <button (click)='crearSolicitud()' *ngIf="creando" class="btn-color"
          style="color: #ffffff; background: #8837a2;margin-bottom: 5px;">
          <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
          <span style="color: #ffffff; font-size: 13px;">Create File</span>
        </button>

        <button (click)='guardarCambios()' *ngIf="editando && solicitud.idEstatusSolicitud != 11" class="btn-color btn-color btn-color-accent"
          style="color: #ffffff; ;margin-bottom: 5px;">
          <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
          <span style="color: #ffffff; font-size: 13px;">Save Changes</span>
        </button>


        <div>

        </div>

        <!-- EVENTOS DE LA SOLICITUD -->
        <div style="display:flex; flex-flow: row;" *ngIf="solicitud.idSolicitud">
          <app-eventos-solicitud [idSolicitud]="solicitud.idSolicitud"
            [idEstatusSolicitud]="solicitud.idEstatusSolicitud">
          </app-eventos-solicitud>
        </div>

        <!-- ADJUNTOS DE LA SOLICITUD -->
        <div style="display:flex; flex-flow: row;" *ngIf="solicitud.idSolicitud">
          <app-adjuntos [idSolicitud]="solicitud.idSolicitud" [idUsuario]="usuario.idUsuario"
            [idEstatusSolicitud]="solicitud.idEstatusSolicitud"></app-adjuntos>
        </div>

        <!-- MOVIMIENTOS DE LA SOLICITUD -->
        <div style="display:flex; flex-flow: row;"
          *ngIf="solicitud.idSolicitud && (isMaster || isVendor || isBackOffice) && solicitud.idEstatusSolicitud != 6">
          <app-movimientos-solicitud [idSolicitud]="solicitud.idSolicitud" [idUsuario]="usuario.idUsuario"
            [idEstatusSolicitud]="solicitud.idEstatusSolicitud"
            (actionCompleted)="onActionCompleted($event)"></app-movimientos-solicitud>
        </div>

      </div>
      
      <div class='content-right' *ngIf="editando"
        style="display:flex; flex-flow: column; border-left: solid 1px rgba(0, 0, 0, 0.2);">


        <!--
        <div class="iigwo-input" *ngIf="(isMaster || isVendor || isBackOffice || isGhostwriting)">
          <div class="div-img-label">
            <mat-icon svgIcon="userD"
              style="color:rgba(48, 48, 48, 0.7); width: 10px; height: 10px;margin-bottom: 8px;"></mat-icon>
            <label>Responsible User</label>
          </div>
          <input [ngModel]="solicitud.usuarioRevisandoNombre" readOnly style="font-weight: 600;">
        </div>
        -->

        <div style="margin-bottom: 10px; " *ngIf="(isMaster || isVendor || isBackOffice || isGhostwriting || isTemplateCreator)">
          <div class="info-component">
            <mat-icon svgIcon="userD"></mat-icon>
            <label>Responsible User</label>
          </div>
          <div>
            <label *ngIf="solicitud.usuarioRevisandoNombre !== 'Unassigned'">{{solicitud.usuarioRevisandoNombre}}</label>
            <label class="unassigned-color" *ngIf="solicitud.usuarioRevisandoNombre === 'Unassigned'">Unassigned</label>
          </div>
        </div>
        
        <div class="iigwo-input" *ngIf="!(isInterviewer || isInterviewerScales)">
          <div class="div-img-label">
            <mat-icon svgIcon="calendarD"
              style="color:rgba(0, 0, 0, 0.7); width: 10px; height: 11.5px;margin-bottom: 7px;"></mat-icon>
            <label>Creation Date</label>
          </div>
          <div class="horizontal-container">
            <input [ngModel]="solicitud.fechaInicio | dateMMDDYYYY" readonly>
        
            <button (click)='enviarNotificaciones()' class="btn"  *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator)"
              style="color: #FFFFFF;background: #ef9d54; border-radius: 5px; height: 23px; line-height: 23px;">
              <mat-icon svgIcon="message-sendD"
                style="color:rgba(255, 255, 255, 0.7); width: 18px; height: 18px;margin-bottom: 2px;margin-right: 5px;"></mat-icon>
              <label style="margin: auto;color: #FFFFFF;">Send Notifications</label>
            </button>
          </div>
        </div>

        <div *ngIf="solicitud.idRolUsInt == 11 && isClinician">

          <div style="margin-bottom: 10px; ">
          <div  class="info-component">
            <mat-icon [ngStyle]="{'color': 'var(--app-case-manager)'}" svgIcon="userD"></mat-icon>
            <label >
              Case manager - 
              <span [class]="solicitud.finIntIni ? 'attended' : 'notattended'">
                {{solicitud.finIntIni ? 'Attended' : 'Not attended yet'}}
              </span>
            </label>
          </div>
          <div>
            <label *ngIf="solicitud.usuarioInterviewNombre != 'Unassigned'">{{solicitud.usuarioInterviewNombre}}</label>
            <label class="unassigned-color" *ngIf="solicitud.usuarioInterviewNombre == 'Unassigned'">Unassigned</label> 
          </div>
        </div>

        </div>

         <div *ngIf="(isBackOffice || isMaster || isVendor || isInterviewer || isTemplateCreator )">

        <div style="margin-bottom: 10px; ">
          <div  class="info-component">
            <mat-icon [ngStyle]="{'color': 'var(--app-case-manager)'}" svgIcon="userD"></mat-icon>
            <label >
              Case manager - 
              <span [class]="solicitud.finIntIni ? 'attended' : 'notattended'">
                {{solicitud.finIntIni ? 'Attended' : 'Not attended yet'}}
              </span>
            </label>
          </div>
          <div>
            <label *ngIf="solicitud.usuarioInterviewNombre != 'Unassigned'">{{solicitud.usuarioInterviewNombre}}</label>
            <label class="unassigned-color" *ngIf="solicitud.usuarioInterviewNombre == 'Unassigned'">Unassigned</label> 
          </div>
        </div>

        </div>

         <div *ngIf="(isBackOffice || isMaster || isVendor || isInterviewerScales || isTemplateCreator)">
       
          <div style="margin-bottom: 10px; ">
          <div class="info-component">
            <mat-icon [ngStyle]="{'color': 'var(--app-scale)'}" svgIcon="userD"></mat-icon>
            <label>Interview Scale - 
              <span [class]="solicitud.finIntSc ? 'attended' : 'notattended'">
                {{solicitud.finIntSc ? 'Attended' : 'Not attended yet'}}
              </span>
            </label>
          </div>
          <div>

            <label *ngIf="solicitud.usuarioIntScNombre != 'Unassigned'">{{solicitud.usuarioIntScNombre}}</label>
            <label class="unassigned-color" *ngIf="solicitud.usuarioIntScNombre == 'Unassigned'">Unassigned</label>  
          </div>
        </div>

        </div>


        <div *ngIf="(isBackOffice || isMaster || isVendor || isClinician)">

        <!--
        <div class="iigwo-input">
          <div class="div-img-label">
            <mat-icon svgIcon="userD"
              style="color:rgba(48, 48, 48, 0.7); width: 10px; height: 10px;margin-bottom: 8px;"></mat-icon>
            <label>Interview Clinician - <a *ngIf="solicitud.finAsgClnc" class="attended">Attended</a> <a
                *ngIf="!solicitud.finAsgClnc" class="notattended">Not attended yet</a> </label>
          </div>

          <input [ngModel]="solicitud.usuarioClinicianNombre" readOnly style="font-weight: 600;"
            *ngIf="solicitud.usuarioClinicianNombre else notIntClnc">
          <ng-template #notIntClnc>
            <input value="Unassigned" readOnly>
          </ng-template>
          </div>
          -->



          <div style="margin-bottom: 10px; " *ngIf="solicitud.idRolUsInt != 11">
          <div class="info-component">
            <mat-icon [ngStyle]="{'color': 'var(--app-clinician)'}" svgIcon="userD"></mat-icon>
            <label >Interview Clinician - 
              <span [class]="solicitud.finAsgClnc ? 'attended' : 'notattended'">
                {{solicitud.finAsgClnc ? 'Attended' : 'Not attended yet'}}
              </span>
              </label>
          </div>
          <div>
            <label *ngIf="solicitud.usuarioClinicianNombre != 'Unassigned'">{{solicitud.usuarioClinicianNombre}}</label>
            <label class="unassigned-color" *ngIf="solicitud.usuarioClinicianNombre == 'Unassigned'">Unassigned</label>  
          </div>
        </div>

        </div>


      

        <div *ngIf="(isBackOffice || isMaster || isVendor || isTemplateCreator)">

           <!--
          <div class="iigwo-input">
          <div class="div-img-label">
            <mat-icon svgIcon="userD"
              style="color:rgba(48, 48, 48, 0.7); width: 10px; height: 10px;margin-bottom: 8px;"></mat-icon>
            <label>Editor user<a *ngIf="solicitud.finAsgTmp" class="attended"> - Attended</a> </label>
          </div>

          <input [ngModel]="solicitud.usuarioTemplate" readOnly style="font-weight: 600;">
          <ng-template #notIntSc>
            <input value="Unassigned" readOnly>
          </ng-template>
        </div>
        </div>
        -->


        <div style="margin-bottom: 12px; ">
          <div class="info-component">
            <mat-icon [ngStyle]="{'color': 'var(--app-editor)'}" svgIcon="userD"></mat-icon>
            <label>Editor user - 
                <span [class]="solicitud.finAsgTmp ? 'attended' : 'notattended'">
                {{solicitud.finAsgTmp ? 'Attended' : 'Not attended yet'}}
              </span>
              
              </label>
          </div>
          <div>
            <label *ngIf="solicitud.usuarioTemplate != 'Unassigned'">{{solicitud.usuarioTemplate}}</label>
            <label class="unassigned-color" *ngIf="solicitud.usuarioTemplate == 'Unassigned'">Unassigned</label>           
          </div>
        </div>


        </div>

        <div *ngIf="(isBackOffice || isMaster || isVendor || isClinician || isInterviewer || isInterviewerScales || isTemplateCreator)">


       




        <div class="iigwo-input">
          <div class="div-img-label">
            <mat-icon svgIcon="fileD"
              style="color:rgba(48, 48, 48, 0.7); width: 12px; height: 12px;margin-bottom: 5px;"></mat-icon>
            <label>File Status</label>

            <span class="badge-status"
              [ngClass]="{'badge-color-received': solicitud.idEstatusSolicitud == 1,
                            'badge-color-reviewing': solicitud.idEstatusSolicitud == 2,
                            'badge-color-interview': solicitud.idEstatusSolicitud == 3,
                            'badge-color-refused': solicitud.idEstatusSolicitud == 4,
                            'badge-color-no_show': solicitud.idEstatusSolicitud == 5,
                            'badge-color-case': solicitud.idEstatusSolicitud == 6,
                            'badge-color-lost': solicitud.idEstatusSolicitud == 7,
                            'badge-color-won': solicitud.idEstatusSolicitud == 8,
                            'badge-color-open': solicitud.idEstatusSolicitud == 9,
                            'badge-color-ready_on_draft': solicitud.idEstatusSolicitud == 10,
                            'badge-color-closed': solicitud.idEstatusSolicitud == 11}">{{solicitud.estatusSolicitud}}</span>

          </div>
          <div class="horizontal-container">
            <!--<span class="badge-status"
              [ngClass]="{'badge-color-received': solicitud.idEstatusSolicitud == 1,
                            'badge-color-reviewing': solicitud.idEstatusSolicitud == 2,
                            'badge-color-interview': solicitud.idEstatusSolicitud == 3,
                            'badge-color-refused': solicitud.idEstatusSolicitud == 4,
                            'badge-color-no_show': solicitud.idEstatusSolicitud == 5,
                            'badge-color-case': solicitud.idEstatusSolicitud == 6,
                            'badge-color-lost': solicitud.idEstatusSolicitud == 7,
                            'badge-color-won': solicitud.idEstatusSolicitud == 8,
                            'badge-color-open': solicitud.idEstatusSolicitud == 9,
                            'badge-color-ready_on_draft': solicitud.idEstatusSolicitud == 10,
                            'badge-color-closed': solicitud.idEstatusSolicitud == 11}">{{solicitud.estatusSolicitud}}</span>-->
            <button *ngIf="solicitud.idEstatusSolicitud == 1 && (isMaster || isVendor || isBackOffice)"
              (click)='cambiarEstatusSolicitud(7)' class="btn"
              style="color: #FFFFFF;background: #ff745f; border-radius: 5px; height: 23px; line-height: 23px;margin-left: 5px;">
              <mat-icon svgIcon="cancel"
                style="color:rgba(255, 255, 255, 0.7); width: 15px; height: 15px;margin-bottom: 2px;margin-right: 5px;"></mat-icon>
              <label style="margin: auto;color: #FFFFFF;">Mark as lost file</label>
            </button>
          </div>
        </div>


        <div class="iigwo-input"
          *ngIf="solicitud.idEstatusSolicitud != 6 && !(isTemplateCreator || isInterviewer || isInterviewerScales || isClinician)">
          <div class="div-img-label">
            <mat-icon svgIcon="moneyD"
              style="color:rgba(48, 48, 48, 0.7); width: 12px; height: 12px;margin-bottom: 5px;"></mat-icon>
            <label>Payment Status</label>
            <span class="badge-status" [ngClass]="{'badge-color-partially': solicitud.idEstatusPago == 1,
                    'badge-color-complete': solicitud.idEstatusPago == 2,
                    'badge-color-hold': solicitud.idEstatusPago == 3,
                    'badge-color-na': solicitud.idEstatusPago == 4}">{{solicitud.estatusPago}}</span>
          </div>
          <!--<span class="badge-status" [ngClass]="{'badge-color-partially': solicitud.idEstatusPago == 1,
                    'badge-color-complete': solicitud.idEstatusPago == 2,
                    'badge-color-hold': solicitud.idEstatusPago == 3,
                    'badge-color-na': solicitud.idEstatusPago == 4}">{{solicitud.estatusPago}}</span>-->
          <input [ngModel]="solicitud.adeudo" readOnly
            *ngIf="!(isInterviewer || isTemplateCreator || isVOC || isInterviewerScales)">
        </div>

        <div class="iigwo-input" *ngIf="solicitud.importante.length > 0">
          <span class="badge-status badge-color-important">This file is Important</span>
        </div>

        <div class="iigwo-input" *ngIf="editando">
          <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
            id="waiver" [checked]="solicitud.waiver" (change)="solicitud.waiver = !solicitud.waiver">
          <label for="waiver" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Waiver</label>
        </div>

        <!--<div class="iigwo-input" *ngIf="(isMaster || isVendor || isBackOffice )">
          <div class="div-img-label">
            <mat-icon svgIcon="calendarD"
              style="color:rgba(48, 48, 48, 0.7); width: 10px; height: 11.5px;margin-bottom: 7px;"></mat-icon>
            <label>Due Date</label>
          </div>
          <input [ngModel]="solicitud.dueDate" (ngModelChange)='solicitud.dueDate = $event' type="date">
        </div>-->

        <div class="iigwo-input">
          <div class="wrapper-labels">
            <mat-icon svgIcon="calendarD"
              style="color:rgba(48, 48, 48, 0.7); width: 10px; height: 11.5px;margin-bottom: 7px;"></mat-icon>
              <label>Due Date
               <a  (click)="limpiarDueDate()">Clear</a>
             </label>     
          </div>
          <mat-form-field appearance="outline" class="custom-datepicker">
            <input 
            matInput 
            [matDatepicker]="picker" 
            [(ngModel)]="dueDateMat" 
            (dateChange)="changeDueDateMat()"
            
            placeholder="MM/DD/YYYY" 
                 >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div style="margin: 0; display:flex; flex-flow: column;" *ngIf="solicitud.idEstatusSolicitud != 11">
          <div class="div-img-label" style="margin-top: 15px;">
            <mat-icon svgIcon="playD"
              style="color: rgba(0, 0, 0, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            <h4 style="margin: 0; ">Actions</h4>
          </div>

          <!--  MASTER, VENDOR, BACKOFFICE, GHOSTRITING -->

          <button (click)='siguienteProceso()' class="btn-color"
            *ngIf="solicitud.idEstatusSolicitud != 11 && (isBackOffice || isMaster || isVendor || isGhostwriting) && solicitud.usuarioInterview != 0 "
            style="color: #FFFFFF; background: #9340D3;">
            <span style="color: #FFFFFF; font-size: 13px;">Send to next process</span>
            <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='envioInterviewerCaseManager()' class="btn-color"
            *ngIf="solicitud.idEstatusSolicitud != 11 && (isBackOffice || isMaster || isVendor || isGhostwriting) && solicitud.usuarioInterview == 0 "
            [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}" >
            <span style="color: #FFFFFF; font-size: 13px;">Send to Intv. Case Mgr</span>
            <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='envioInterviewerScales()' class="btn-color"
            *ngIf="solicitud.idEstatusSolicitud != 11 && (isMaster || isVendor || isBackOffice || isGhostwriting) && solicitud.asignacionIntSc == false"
            [ngStyle]="{'background': 'var(--app-scale)', 'color': '#FFFFFF'}" >
            <span style="color: #FFFFFF; font-size: 13px;">Send to Intv. Scales</span>
            <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='envioInterviewerClinician()' class="btn-color"
            *ngIf="solicitud.idEstatusSolicitud != 11 && (isMaster || isVendor || isBackOffice || isGhostwriting) && solicitud.assignedClinician == 0 && solicitud.idRolUsInt != 11"
            [ngStyle]="{'background': 'var(--app-clinician)', 'color': '#FFFFFF'}" >
            <span style="color: #FFFFFF; font-size: 13px;">Send to Intv. Clinician</span>
            <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <div style="margin-top: 12px;">
          </div>

          <button (click)='asignarTemplate()' class="btn-color"
            *ngIf="(solicitud.idEstatusSolicitud == 2 || solicitud.idEstatusSolicitud == 3) && solicitud.asignacionTemplate == false && (isMaster || isVendor || isBackOffice) "
            [ngStyle]="{'background': 'var(--app-editor)', 'color': '#FFFFFF'}" >
            <span style="color: #FFFFFF; font-size: 13px;">Assign Template</span>
            <mat-icon svgIcon="assignD2"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cancelTemplate()' class="btn-color"
            *ngIf="solicitud.idEstatusSolicitud == 2 && solicitud.asignacionTemplate == true && (isBackOffice || isMaster)"
            [ngStyle]="{'background': 'var(--app-editor)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Cancel assign Template</span>
            <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cancelarCita()' class="btn-color"
            *ngIf="(isMaster || isVendor || isBackOffice) && (solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2 || solicitud.idEstatusSolicitud == 3)"
            style="color: #FFFFFF;background: #ED9A72; ">
            <span style="color: #FFFFFF; font-size: 13px;">Cancel Schedule</span>
            <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>


          <button (click)='cambiarEstatusSolicitud(11)' class="btn-color" *ngIf="solicitud.idEstatusSolicitud == 6"
            [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Finish Case</span>
            <mat-icon svgIcon="completeD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(11, true)' class="btn-color"
            *ngIf="solicitud.idEstatusSolicitud == 10 && (isMaster || isBackOffice)"
            style="color: #FFFFFF;background: #D34272; ">
            <span style="color: #FFFFFF; font-size: 13px;">Closed</span>
            <mat-icon svgIcon="completeD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <!--  FIN MASTER, VENDOR Y BACKOFFICE-->


          <!--  INICIO CASE MANAGER -->

          <button (click)='envioFinEntrevistaCasemanager()' class="btn-color"
            *ngIf="!solicitud.finIntIni && (solicitud.usuarioInterview === idUsuarioLogueado) && isInterviewer"
            [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Finish file review</span>
            <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
            *ngIf="!solicitud.finIntIni && (solicitud.usuarioInterview === idUsuarioLogueado) && isInterviewer"
            [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
            <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(5)' class="btn-color"
            *ngIf="!solicitud.finIntIni && (solicitud.usuarioInterview === idUsuarioLogueado) && isInterviewer"
            [ngStyle]="{'background': 'var(--app-no-show)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">No Show</span>
            <mat-icon svgIcon="calendar-slash"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <!--  FIN CASE MANAGER -->

          <!--  INICIO SCALES -->

          <button (click)='envioFinEntrevistaScales()' class="btn-color"
            *ngIf="!solicitud.finIntSc && isInterviewerScales && (solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2||solicitud.idEstatusSolicitud == 3)"
            [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Finish file review</span>
            <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
            *ngIf="!solicitud.finIntSc && isInterviewerScales &&  (solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2||solicitud.idEstatusSolicitud == 3)"
            [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
            <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(5)' class="btn-color"
            *ngIf="!solicitud.finIntSc && isInterviewerScales &&  (solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2||solicitud.idEstatusSolicitud == 3)"
            [ngStyle]="{'background': 'var(--app-no-show)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">No show</span>
            <mat-icon svgIcon="calendar-slash"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <!--  FIN SCALES -->


          <!--  INICIO TEMPLATE -->

          <button (click)='siguienteProceso()' class="btn-color"
            *ngIf="isTemplateCreator && (solicitud.idEstatusSolicitud == 2||solicitud.idEstatusSolicitud == 3)"
            [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Send to next process</span>
            <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
            *ngIf="isTemplateCreator && (solicitud.idEstatusSolicitud == 2||solicitud.idEstatusSolicitud == 3)"
            [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
            <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <!--  FIN TEMPLATE -->



          <!--   BOTONES PARA CLINICIAN   -->

          <!--EN CASO ASGN CLINICIAN-->
          <button (click)='envioFinEntrevistaClinician()' class="btn-color"
            *ngIf="!solicitud.finAsgClnc && isClinician && solicitud.idRolUsInt != 11"
            [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Finish file review</span>
            <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
            *ngIf="!solicitud.finAsgClnc && isClinician && solicitud.idRolUsInt != 11"
            [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
            <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(5)' class="btn-color"
            *ngIf="!solicitud.finAsgClnc && isClinician && solicitud.idRolUsInt != 11"
            [ngStyle]="{'background': 'var(--app-no-show)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">No show</span>
            <mat-icon svgIcon="calendar-slash"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>
          <!--   FIN BOTONES PARA CLINICIAN   -->

          <!--EN CASO CASE MANAGER CLINICIAN-->

           <button (click)='envioFinEntrevistaClinician()' class="btn-color"
            *ngIf="solicitud.idRolUsInt == 11 && isClinician && !solicitud.finIntIni"
            [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Finish file review</span>
            <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
           *ngIf="solicitud.idRolUsInt == 11 && isClinician && !solicitud.finIntIni"
            [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
            <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(5)' class="btn-color"
            *ngIf="solicitud.idRolUsInt == 11 && isClinician && !solicitud.finIntIni"
            [ngStyle]="{'background': 'var(--app-no-show)', 'color': '#FFFFFF'}">
            <span style="color: #FFFFFF; font-size: 13px;">No show</span>
            <mat-icon svgIcon="calendar-slash"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <!--   FIN BOTONES PARA CLINICIAN   -->


        </div>


        <div style="margin: 0; display:flex; flex-flow: column;"
          *ngIf="solicitud.idEstatusSolicitud == 11 && (isMaster || isBackOffice)">
          <div class="div-img-label" style="margin-top: 15px;">
            <mat-icon svgIcon="playD"
              style="color: rgba(0, 0, 0, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            <h4 style="margin: 0; ">Actions</h4>
          </div>

          <button (click)='guardarCambiosClosed()' class="btn-color btn-color-accent" style="color: #FFFFFF;">
            <span style="color: #FFFFFF; font-size: 13px;">Save changes</span>
            <mat-icon svgIcon="saveD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

          <button (click)='cambiarEstatusSolicitud(9)' class="btn-color" *ngIf="false"
            style="color: #FFFFFF;background: #319757; ">
            <span style="color: #FFFFFF; font-size: 13px;">Open</span>
            <mat-icon svgIcon="reopenD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>

        </div>

         <div style="margin: 0; display:flex; flex-flow: column;"
          *ngIf="solicitud.idEstatusSolicitud == 11 && (isVendor || isInterviewer || isInterviewerScales || isTemplateCreator || isClinician)">
         <button (click)='guardarCambiosClosed()' class="btn-color btn-color-accent" style="color: #FFFFFF;">
            <span style="color: #FFFFFF; font-size: 13px;">Save changes</span>
            <mat-icon svgIcon="saveD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>
          </div>

      </div>
    </div>

    <!--Cargando-->
    <div class='iigwo-loading' *ngIf="cargando">
      <mat-spinner></mat-spinner>
    </div>

  </div>
</div>