<app-workspace-nav>
  <app-solicitudes-nav></app-solicitudes-nav>
</app-workspace-nav>
<div class='workspace'>
  <div class='main'>
    <app-experimental-menu [titulo]="titulo" backButtonEnabled="true">

      @if (isMaster || isBackOffice || isClinician ) {
        <button (click)='refreshSolicitudCompleta()' class="btn"
          style="color: #FFFFFF;background: #f3c956; border-radius: 5px; height: 20px; line-height: 20px;">
          <mat-icon svgIcon="refresh"
          style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
          <label style="margin: auto;color: #FFFFFF;text-transform: none;">Refresh File</label>
        </button>
      }

      @if (solicitud.fecha_schedule || solicitud.fecha_schedule_scales || solicitud.fechaClinicianAppo) {
        <div
        style="width: 1px;
        height: 20px;
        background-color: #ccc;margin-right: 8px; margin-left: 10px;"></div>
      }

      @if ((isMaster || isVendor || isBackOffice || isInterviewer || isTemplateCreator) && solicitud.fecha_schedule) {
        <span class="badge-status badge-color-schedule-title"
          >Intv. Case Mgr
          {{solicitud.fecha_schedule | dateMMDDYYYY:'datetime'}}
          @if (solicitud.finIntIni) {
            <mat-icon svgIcon="finishD"></mat-icon>
          }
        </span>
      }

     

      @if ((isMaster || isVendor || isBackOffice || isTemplateCreator || isInterviewerScales) && solicitud.fecha_schedule_scales) {
        <span class="badge-status badge-color-schedule-scales-title"
          >Intv.
          Scale
          {{solicitud.fecha_schedule_scales | dateMMDDYYYY:'datetime'}}
          @if (solicitud.finIntSc) {
            <mat-icon svgIcon="finishD"></mat-icon>
          }
        </span>
      }

      @if ((isMaster || isVendor || isBackOffice || isTemplateCreator || isClinician) && solicitud.fechaClinicianAppo) {
        <span class="badge-status badge-color-schedule-clinician-title"
          >Intv.
          Clinician
          {{solicitud.fechaClinicianAppo | dateMMDDYYYY:'datetime'}}
          @if (solicitud.finAsgClnc) {
            <mat-icon svgIcon="finishD"></mat-icon>
          }
        </span>
      }

      @if (solicitud.dueDate) {
<div style="width: 1px;
        height: 20px;
        background-color: #ccc;margin-right: 8px; margin-left: 10px;"></div>
      }

      @if (solicitud.dueDate) {
        <span class="badge-status badge-color-due-date-title">Due Date
        {{solicitud.dueDate | dateMMDDYYYY:'datetime'}}</span>
      }


    </app-experimental-menu>

    @if (creando || solicitud.idSolicitud) {
      <div style="display:flex; flex-flow: row">
        <div class='content-left' [ngStyle]="{'right': (creando ? '0' : '280px')}"
          style="display:flex; flex-flow: column;">
          <div style="display:flex; flex-flow: row; flex-wrap: wrap;">
            <div class="column">
              @if (creando) {
                <div class="iigwo-input">
                  <label>Creation Date</label>
                  <input [ngModel]="solicitud.fechaInicio" (ngModelChange)='solicitud.fechaInicio = $event' type="date">
                </div>
              }
              @if (!creando) {
                <div style="margin-bottom: 10px;padding:5px">
                  @if (solicitud.importantNotes.length != '' && !creado) {
                    <label style="color: rgb(191, 71, 23); font-size: 0.9em;margin-bottom: 10px;margin-top:15px"
                      >
                      <mat-icon svgIcon="important" style="color: red; width: 16px;  vertical-align: middle;"></mat-icon> {{solicitud.importantNotes}}
                    </label>
                  }
                </div>
              }
              <div class="iigwo-input">
                <label>Customer Name</label>
                <input type="text" [(ngModel)]="solicitud.cliente">
              </div>
              <div class="iigwo-input">
                <label>Last Names</label>
                <input type="text" [(ngModel)]="solicitud.apellidos">
              </div>
              <div class="iigwo-input">
                <label>Type</label>
                <select [(ngModel)]="inputTipoSolicitud" [disabled]="solicitud.idEstatusSolicitud == 11"
                  [ngModelOptions]="{standalone: true}">
                  @for (tipoSolicitud of arrTipoSolicitud; track tipoSolicitud) {
                    <option [ngValue]="tipoSolicitud">
                    {{tipoSolicitud.nombre}}</option>
                  }
                </select>
              </div>
              <div class="iigwo-input">
                <label>Additional</label>
                <input type="text" [(ngModel)]="solicitud.adicional">
              </div>
              <div class="iigwo-input">
                <div class="wrapper">
                  <label>Phone<a (click)="validatePhone()">Validate Phone</a></label>
                  <input type="text" [(ngModel)]="solicitud.telefono" (input)="onPhoneNumberInput($event.target.value)"
                    placeholder="(###) ###-####" maxlength="14">
                </div>
              </div>
              @if (!(isInterviewer)) {
                <div class="iigwo-input">
                  <label>Email</label>
                  <input type="email" [(ngModel)]="solicitud.email">
                </div>
              }
              <div class="iigwo-input">
                <label>Birth Date
                </label>
                <mat-form-field appearance="outline" class="custom-datepicker">
                  <input
                    matInput
                    [matDatepicker]="pickerFN"
                    [(ngModel)]="fechaNacimientoMat"
                    (dateChange)="changeFechaNacimientoMat()"
                    placeholder="MM/DD/YYYY"
                    />
                  <mat-datepicker-toggle matSuffix [for]="pickerFN"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFN ></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="iigwo-input">
                <label>Gender</label>
                <select [(ngModel)]="solicitud.sexo" [ngModelOptions]="{standalone: true}">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
              </div>
            </div>
            <div class="column">
              @if (editando && !(isTemplateCreator || isInterviewer || isInterviewerScales || isClinician)) {
                <div class="iigwo-input"
                  >
                  <label>Amount</label>
                  <input type="number" [(ngModel)]="solicitud.amount"
                    [readOnly]="solicitud.idEstatusSolicitud == 11 || isGhostwriting">
                </div>
              }
              @if ((isMaster || isVendor || isBackOffice || isInterviewer || isTemplateCreator ||isInterviewerScales || isGhostwriting || isClinician)) {
                <div class="iigwo-input"
                  >
                  <label>Language</label>
                  <select [(ngModel)]="solicitud.idioma" [ngModelOptions]="{standalone: true}"
                    [disabled]="solicitud.idEstatusSolicitud == 11">
                    @for (o of arrLanguages; track o) {
                      <option [ngValue]="o.name">{{o.name}}</option>
                    }
                  </select>
                </div>
              }
              @if (editando && (isMaster || isVendor || isBackOffice || isInterviewer || isTemplateCreator ||isInterviewerScales || isGhostwriting || isClinician)) {
                <div class="iigwo-input"
                  >
                  <label>Type of Interview</label>
                  <select [(ngModel)]="solicitud.tipoEntrevista" [ngModelOptions]="{standalone: true}"
                    [disabled]="solicitud.idEstatusSolicitud == 11">
                    @for (o of arrTypesOfInterview; track o) {
                      <option [ngValue]="o.name">{{o.name}}</option>
                    }
                  </select>
                </div>
              }
              @if (editando && !(isInterviewer || isInterviewerScales)) {
                <div class="iigwo-input">
                  <label>Address (Number, City and Postal Code)</label>
                  <input type="text" [(ngModel)]="solicitud.direccion">
                </div>
              }
              <div class="iigwo-input">
                <label>State</label>
                <select [(ngModel)]="solicitud.estado" [ngModelOptions]="{standalone: true}">
                  @for (state of arrStates; track state) {
                    <option [ngValue]="state.abbreviation">
                    {{state.abbreviation}}</option>
                  }
                </select>
              </div>
              @if (editando && !(isInterviewer || isInterviewerScales )) {
                <div class="iigwo-input">
                  <label>Referral Source</label>
                  <select [(ngModel)]="solicitud.referencia" [ngModelOptions]="{standalone: true}">
                    @for (o of arrReferralSources; track o) {
                      <option [ngValue]="o.name">{{o.name}}</option>
                    }
                  </select>
                </div>
              }
              @if (creando && !(isInterviewer || isInterviewerScales)) {
                <div class="iigwo-input">
                  <label>Comments</label>
                  <textarea [(ngModel)]="comentarios"></textarea>
                </div>
              }
              <!--<div class="iigwo-input" *ngIf="editando && !(isInterviewer || isInterviewerScales)">
              <label>Docusign</label>
              <div class="input-row">
                <input type="url" [(ngModel)]="solicitud.docusign">
                <button (click)='viewDoc(solicitud.docusign)' class="btn-icon external-link-color"
                  [disabled]="!(solicitud.docusign && solicitud.docusign.length > 0)" matTooltip="View Doc">
                  <mat-icon svgIcon="external-link"></mat-icon>
                </button>
              </div>
            </div>-->
            <div class="iigwo-input">
              <label>Day of crime
              </label>
              <mat-form-field appearance="outline" class="custom-datepicker">
                <input
                  matInput
                  [matDatepicker]="pickerDC"
                  [(ngModel)]="fechaDeCrimenMat"
                  (dateChange)="changeFechaDeCrimenMat()"
                  placeholder="MM/DD/YYYY"
                  />
                <mat-datepicker-toggle matSuffix [for]="pickerDC"></mat-datepicker-toggle>
                <mat-datepicker #pickerDC ></mat-datepicker>
              </mat-form-field>
            </div>
            @if (editando && !(isInterviewer)) {
              <div class="iigwo-input">
                <label>Scales</label>
                @if (solicitud.idEstatusSolicitud != 11) {
                  <div class="input-row" style="margin-bottom: 4px;">
                    <input type="text" [(ngModel)]="inputScale.scale">
                    <button (click)='addScale()' class="btn-icon" matTooltip="Add"
                      [disabled]="!(inputScale.scale && inputScale.scale.length > 0)">
                      <mat-icon svgIcon="add"></mat-icon>
                    </button>
                  </div>
                }
                @for (scale of arrScales; track scale) {
                  <div style="display: inline-block;">
                    <span class="badge-file-icon" style="color: darkviolet;"><mat-icon svgIcon="scales"></mat-icon></span>
                    <span class="badge-file badge-file-name"
                    [ngStyle]="{'padding-right': solicitud.idEstatusSolicitud != 11 ? '21px' : '5px'}">{{scale.scale}}</span>
                    @if (solicitud.idEstatusSolicitud != 11) {
                      <span style="margin-left: -18px;">
                        <button class="iigwo adjuntos-options" (click)="removeScale(scale.idScale)">
                          <mat-icon style="margin-top: 1px;" svgIcon="close"></mat-icon>
                        </button>
                      </span>
                    }
                  </div>
                }
              </div>
            }
            @if (creando) {
              <div class="iigwo-input">
                <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
                  id="external" [checked]="solicitud.external" (change)="usuarioExternalChange()">
                <label for="external" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">External
                File</label>
              </div>
            }
            @if (creando && solicitud.external) {
              <div class="iigwo-input">
                <label>Partner Customer</label>
                <select [(ngModel)]="solicitud.usuarioExternal" [ngModelOptions]="{standalone: true}"
                  [disabled]="solicitud.idEstatusSolicitud == 11">
                  @for (o of arrUsuariosExternal; track o) {
                    <option [ngValue]="o.idUsuario">{{o.nombre}}</option>
                  }
                </select>
              </div>
            }
            @if (editando && !(isInterviewer || isInterviewerScales)) {
              <div class="iigwo-input">
                <label>Case number</label>
                <input type="text" [(ngModel)]="solicitud.numeroDeCaso">
              </div>
            }
            @if ((isMaster || isBackOffice) && editando && solicitud.idRolUsInt != 11) {
              <div class="iigwo-input">
                <div class="wrapper">
                  <label>Assigned clinician @if (solicitud.interviewMaster) {
                    <a class="attended"> Appointment
                    attended</a>
                  }
                  <div>
                    @if (solicitud.assignedClinician > 0 && !solicitud.interviewMaster) {
                      <a
                      (click)="limpiarAssignedClinician()">Clear</a>
                    }
                    @if (solicitud.assignedClinician > 0 && !solicitud.finAsgClnc) {
                      <a style="color:rgb(210, 145, 84)"
                      (click)="finishClncAssignedClinician()">Finish Clnc.</a>
                    }
                  </div>
                </label>
                <input readonly type="text" [(ngModel)]="solicitud.usuarioClinicianNombre">
              </div>
            </div>
          }
        </div>
        <div class="column">
          @if (solicitud.idAbogado === 0 || creando) {
            <div>
              @if (!(isInterviewer || isTemplateCreator || isVendor || isClinician ) || usuario.usuario == 'brayan' || usuario.usuario == 'ojuarez') {
                <div style="margin-bottom: -3px;"
                  >
                <label style="font-size: 12px;display: block;
                  color: rgba(0, 0, 0, 0.7);
                  font-size: 12px;
                  font-family: regular;
                  line-height: 1.2;">Find lawyer, search by email or firm </label>
                </div>
              }
              @if (!(isInterviewer || isTemplateCreator || isVendor || isClinician) || usuario.usuario == 'brayan' || usuario.usuario == 'ojuarez' || creando) {
                <div class="iigwo-input" >
                  <mat-form-field appearance="outline" class="custom-form-field" style="width: 100%;">
                    <input matInput type="text" placeholder="Find lawyer by mail" [formControl]="abogadoControl"
                      [matAutocomplete]="autoMail"
                      [value]="abogadoSeleccionado ? (abogadoSeleccionado.nombre ? '' : abogadoSeleccionado.firma  ) : ''" />
                    <mat-autocomplete #autoMail="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
                      @for (a of abogados; track a) {
                      <mat-option style="font-size: 12px" [value]="a">
                        <span>{{ a.email }}</span>
                        
                      </mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>
                </div>

                <div class="iigwo-input">
                  <mat-form-field appearance="outline" class="custom-form-field" style="width: 100%;">
                    <input matInput type="text" placeholder="Find lawyer by firm" [formControl]="abogadoControlFirm"
                      [matAutocomplete]="autoFirm"
                      [value]="abogadoSeleccionado ? (abogadoSeleccionado.nombre ? '' : abogadoSeleccionado.firma  ) : ''" />
                    <mat-autocomplete #autoFirm="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="displayFn">
                      @for (a of abogadosByFirm; track a) {
                      <mat-option style="font-size: 12px" [value]="a">
                        <span>{{ a.firma }} - {{ a.email }}</span>
                        
                      </mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
            }
          </div>
        }
        @if (solicitud.idAbogado === 0) {
          <div>
            @if ((isBackOffice || isMaster || isInterviewerScales) || usuario.usuario == 'brayan' || usuario.usuario == 'ojuarez') {
              <div class="action-links" >
                <a class="addNewLayer" (click)="onNuevoAbogado()">Add new lawyer</a>
                <div style="width: 1px;  height: 12px; background-color: #ccc;margin-right: 8px; margin-left: 10px;"></div>
                <a class="addMailToExistingContact" (click)="onAgregarEmailAbogado()">Add an email to an existing contact</a>
              </div>
            }
          </div>
        }
        @if ((!(isInterviewer  || isTemplateCreator || isVendor || isClinician) || usuario.usuario == 'brayan' || usuario.usuario == 'ojuarez') && solicitud.idAbogado > 0 ) {
          <div class="iigwo-input"
            >
            <!--<div class="wrapper">
            <label> <a *ngIf="solicitud.idAbogado > 0" (click)="limpiarAbogado()">Clear lawyer</a> </label>
          </div>-->
          <div class="action-links-split">
            @if (solicitud.idAbogado > 0) {
              <label (click)="limpiarAbogado()" class="clearLawyer">Clear lawyer</label>
            }
            <div style="width: 1px;  height: 12px; background-color: #ccc;margin-right: 8px; margin-left: 10px;"></div>
            @if (solicitud.idAbogado > 0) {
              <label (click)="verMailsAbogado()" class="addMailLawyerToFile">Add other lawyer mail
              to file</label>
            }
          </div>
          <label><span class="label-prefix">Lawyer Firm: </span>{{lawyerFirm}}</label>
          <label><span class="label-prefix">Lawyer: </span>{{lawyerName}}</label>
          <label><span class="label-prefix">Email(s): </span>{{solicitud.emailAboSel}}</label>
          <label><span class="label-prefix">Phone(s): </span>{{lawyerPhone}}</label>
          <label><span class="label-prefix">Sinonymous(s): </span>{{lawyerSyn}}</label>
          @if (!solicitud.conCupon) {
            <button (click)='agregarCupon()' class="btn-color"
              style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin: 0.5px;padding:5px;">
              <span style="color: #000000; font-size: 11px;">Add coupon</span>
              <mat-icon svgIcon="couponD" style="color: #000000; width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (solicitud.conCupon) {
            <label style="color: #FF603B;">This lawyer has already used his coupon</label>
          }
        </div>
      }
      <!--<div class="iigwo-input"
      *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician) && !creando">
      <label>Case number</label>
      <input type="text" [(ngModel)]="solicitud.caseNumber">
    </div>-->
    <!--
    <label style="color: rgb(159, 111, 24); font-size: 0.9em;margin-bottom: 10px;margin-top:15px"
      *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
      ⚠️ This fields will be deprecated, use the new "Lawyer" field.
    </label>
    <div class="iigwo-input" *ngIf="false">
      <input type="text" [(ngModel)]="solicitud.emailAboSel">
    </div>
    <div class="iigwo-input"
      *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
      <label>Lawyer name</label>
      <input type="text" [(ngModel)]="solicitud.abogado">
    </div>
    <div class="iigwo-input"
      *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
      <label>Paralegal's Email</label>
      <input type="email" [(ngModel)]="solicitud.email_abogado">
    </div>
    <div class="iigwo-input"
      *ngIf="!(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
      <label>Law firm</label>
      <input type="text" [(ngModel)]="solicitud.firmaAbogados">
    </div>
    <div class="iigwo-input"
      *ngIf="editando && !(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
      <label>Paralegal Name</label>
      <input type="text" [(ngModel)]="solicitud.paralegalName">
    </div>
    <div class="iigwo-input"
      *ngIf="editando && !(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
      <label>Paralegal Emails</label>
      <input type="text" [(ngModel)]="solicitud.paralegalEmails">
    </div>
    <div class="iigwo-input"
      *ngIf="editando && !(isInterviewer || isInterviewerScales || isTemplateCreator || isVendor || isClinician)">
      <label>Paralegal Phones</label>
      <input type="text" [(ngModel)]="solicitud.paralegalTelefonos">
    </div>
    -->
  </div>
</div>
@if (creando) {
  <button (click)='crearSolicitud()' class="btn-color"
    style="color: #ffffff; background: #8837a2;margin-bottom: 5px;">
    <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
    <span style="color: #ffffff; font-size: 13px;">Create File</span>
  </button>
}
@if (editando && solicitud.idEstatusSolicitud != 11) {
  <button (click)='guardarCambios()' class="btn-color btn-color btn-color-accent"
    style="color: #ffffff; ;margin-bottom: 5px;">
    <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
    <span style="color: #ffffff; font-size: 13px;">Save Changes</span>
  </button>
}
<div>
</div>
<!-- EVENTOS DE LA SOLICITUD -->
@if (solicitud.idSolicitud) {
  <div style="display:flex; flex-flow: row;">
    <app-eventos-solicitud [idSolicitud]="solicitud.idSolicitud"
      [idEstatusSolicitud]="solicitud.idEstatusSolicitud">
    </app-eventos-solicitud>
  </div>
}
<!-- ADJUNTOS DE LA SOLICITUD -->
@if (solicitud.idSolicitud) {
  <div style="display:flex; flex-flow: row;">
    <app-adjuntos [idSolicitud]="solicitud.idSolicitud" [idUsuario]="usuario.idUsuario"
    [idEstatusSolicitud]="solicitud.idEstatusSolicitud"></app-adjuntos>
  </div>
}
<!-- MOVIMIENTOS DE LA SOLICITUD -->
@if (solicitud.idSolicitud && (isMaster || isVendor || isBackOffice) && solicitud.idEstatusSolicitud != 6) {
  <div style="display:flex; flex-flow: row;"
    >
    <app-movimientos-solicitud [idSolicitud]="solicitud.idSolicitud" [idUsuario]="usuario.idUsuario"
      [idEstatusSolicitud]="solicitud.idEstatusSolicitud"
    (actionCompleted)="onActionCompleted($event)"></app-movimientos-solicitud>
  </div>
}
</div>
@if (editando) {
  <div class='content-right'
    style="display:flex; flex-flow: column; border-left: solid 1px rgba(0, 0, 0, 0.2);">
    @if ((isMaster || isVendor || isBackOffice || isGhostwriting || isTemplateCreator)) {
      <div style="margin-bottom: 10px; ">
        <div class="info-component">
          <mat-icon svgIcon="userD"></mat-icon>
          <label>Responsible User</label>
        </div>
        <div>
          @if (solicitud.usuarioRevisandoNombre !== 'Unassigned') {
            <label>{{solicitud.usuarioRevisandoNombre}}</label>
          }
          @if (solicitud.usuarioRevisandoNombre === 'Unassigned') {
            <label class="unassigned-color">Unassigned</label>
          }
        </div>
      </div>
    }
    @if (!(isInterviewer || isInterviewerScales)) {
      <div class="iigwo-input">
        <div class="div-img-label">
          <mat-icon svgIcon="calendarD"
          style="color:rgba(0, 0, 0, 0.7); width: 10px; height: 11.5px;margin-bottom: 7px;"></mat-icon>
          <label>Creation Date</label>
        </div>
        <div class="horizontal-container">
          <input [ngModel]="solicitud.fechaInicio | dateMMDDYYYY" readonly>
          @if (!(isInterviewer || isInterviewerScales || isTemplateCreator)) {
            <button (click)='enviarNotificaciones()' class="btn"
              style="color: #FFFFFF;background: #ef9d54; border-radius: 5px; height: 23px; line-height: 23px;">
              <mat-icon svgIcon="message-sendD"
              style="color:rgba(255, 255, 255, 0.7); width: 18px; height: 18px;margin-bottom: 2px;margin-right: 5px;"></mat-icon>
              <label style="margin: auto;color: #FFFFFF;">Send Notifications</label>
            </button>
          }
        </div>
      </div>
    }
    @if (solicitud.idRolUsInt == 11 && isClinician) {
      <div>
        <div style="margin-bottom: 10px; ">
          <div  class="info-component">
            <mat-icon [ngStyle]="{'color': 'var(--app-case-manager)'}" svgIcon="userD"></mat-icon>
            <label >
              Case manager -
              <span [class]="solicitud.finIntIni ? 'attended' : 'notattended'">
                {{solicitud.finIntIni ? 'Attended' : 'Not attended yet'}}
              </span>
            </label>
          </div>
          <div>
            @if (solicitud.usuarioInterviewNombre != 'Unassigned') {
              <label>{{solicitud.usuarioInterviewNombre}}</label>
            }
            @if (solicitud.usuarioInterviewNombre == 'Unassigned') {
              <label class="unassigned-color">Unassigned</label>
            }
          </div>
        </div>
      </div>
    }
    @if ((isBackOffice || isMaster || isVendor || isInterviewer || isTemplateCreator )) {
      <div>
        <div style="margin-bottom: 10px; ">
          <div  class="info-component">
            <mat-icon [ngStyle]="{'color': 'var(--app-case-manager)'}" svgIcon="userD"></mat-icon>
            <label >
              Case manager -
              <span [class]="solicitud.finIntIni ? 'attended' : 'notattended'">
                {{solicitud.finIntIni ? 'Attended' : 'Not attended yet'}}
              </span>
            </label>
          </div>
          <div>
            @if (solicitud.usuarioInterviewNombre != 'Unassigned') {
              <label>{{solicitud.usuarioInterviewNombre}}</label>
            }
            @if (solicitud.usuarioInterviewNombre == 'Unassigned') {
              <label class="unassigned-color">Unassigned</label>
            }
          </div>
        </div>
      </div>
    }
    @if ((isBackOffice || isMaster || isVendor || isInterviewerScales || isTemplateCreator)) {
      <div>
        <div style="margin-bottom: 10px; ">
          <div class="info-component">
            <mat-icon [ngStyle]="{'color': 'var(--app-scale)'}" svgIcon="userD"></mat-icon>
            <label>Interview Scale -
              <span [class]="solicitud.finIntSc ? 'attended' : 'notattended'">
                {{solicitud.finIntSc ? 'Attended' : 'Not attended yet'}}
              </span>
            </label>
          </div>
          <div>
            @if (solicitud.usuarioIntScNombre != 'Unassigned') {
              <label>{{solicitud.usuarioIntScNombre}}</label>
            }
            @if (solicitud.usuarioIntScNombre == 'Unassigned') {
              <label class="unassigned-color">Unassigned</label>
            }
          </div>
        </div>
      </div>
    }
    @if ((isBackOffice || isMaster || isVendor || isClinician)) {
      <div>
        @if (solicitud.idRolUsInt != 11) {
          <div style="margin-bottom: 10px; ">
            <div class="info-component">
              <mat-icon [ngStyle]="{'color': 'var(--app-clinician)'}" svgIcon="userD"></mat-icon>
              <label >Interview Clinician -
                <span [class]="solicitud.finAsgClnc ? 'attended' : 'notattended'">
                  {{solicitud.finAsgClnc ? 'Attended' : 'Not attended yet'}}
                </span>
                
              </label>
            </div>
            <div>
              @if (solicitud.usuarioClinicianNombre != 'Unassigned') {
                <label>{{solicitud.usuarioClinicianNombre}}</label>
                @if (solicitud.usuarioInterviewNombre == 'Unassigned' && !asignacionTemplate && (isMaster || isBackOffice)) {
                  <a class="addMailToExistingContact" style ="text-decoration:underline;margin-left: 5px;" 
                  (click)="changeInterviewToCaseMgr()">Change interview to case mgr</a>
                }
              }
              @if (solicitud.usuarioClinicianNombre == 'Unassigned') {
                <label class="unassigned-color">Unassigned</label>
              }
            </div>
            <div>
              @if (solicitud.idUsuarioTraductor != 0) {
                <label>{{solicitud.usuarioTraductorNombre}} as a traslator</label>
              }
            </div>
          </div>
        }
      </div>
    }
    @if ((isBackOffice || isMaster || isVendor || isTemplateCreator)) {
      <div>
        <div style="margin-bottom: 12px; ">
          <div class="info-component">
            <mat-icon [ngStyle]="{'color': 'var(--app-editor)'}" svgIcon="userD"></mat-icon>
            <label>Editor user -
              <span [class]="solicitud.finAsgTmp ? 'attended' : 'notattended'">
                {{solicitud.finAsgTmp ? 'Attended' : 'Not attended yet'}}
              </span>
            </label>
          </div>
          <div>
            @if (solicitud.usuarioTemplate != 'Unassigned') {
              <label>{{solicitud.usuarioTemplate}}</label>
            }
            @if (solicitud.usuarioTemplate == 'Unassigned') {
              <label class="unassigned-color">Unassigned</label>
            }
          </div>
        </div>
      </div>
    }
    @if ((isBackOffice || isMaster || isVendor || isClinician || isInterviewer || isInterviewerScales || isTemplateCreator)) {
      <div>
        <div class="iigwo-input">
          <div class="div-img-label">
            <mat-icon svgIcon="fileD"
            style="color:rgba(48, 48, 48, 0.7); width: 12px; height: 12px;margin-bottom: 5px;"></mat-icon>
            <label>File Status</label>
            <span class="badge-status"
              [ngClass]="{'badge-color-received': solicitud.idEstatusSolicitud == 1,
                            'badge-color-reviewing': solicitud.idEstatusSolicitud == 2,
                            'badge-color-interview': solicitud.idEstatusSolicitud == 3,
                            'badge-color-refused': solicitud.idEstatusSolicitud == 4,
                            'badge-color-no_show': solicitud.idEstatusSolicitud == 5,
                            'badge-color-case': solicitud.idEstatusSolicitud == 6,
                            'badge-color-lost': solicitud.idEstatusSolicitud == 7,
                            'badge-color-won': solicitud.idEstatusSolicitud == 8,
                            'badge-color-open': solicitud.idEstatusSolicitud == 9,
                            'badge-color-ready_on_draft': solicitud.idEstatusSolicitud == 10,
                            'badge-color-closed': solicitud.idEstatusSolicitud == 11}">{{solicitud.estatusSolicitud}}</span>
          </div>
          <div class="horizontal-container">
            @if ((solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2 || solicitud.idEstatusSolicitud == 3 || solicitud.idEstatusSolicitud == 10) && (isMaster || isVendor || isBackOffice)) {
              <button
                (click)='cambiarEstatusSolicitud(7)' class="btn"
                style="color: #FFFFFF;background: #ff745f; border-radius: 5px; height: 23px; line-height: 23px;margin-left: 5px;">
                <mat-icon svgIcon="cancel"
                style="color:rgba(255, 255, 255, 0.7); width: 15px; height: 15px;margin-bottom: 2px;margin-right: 5px;"></mat-icon>
                <label style="margin: auto;color: #FFFFFF;">Mark as lost file</label>
              </button>
            }
          </div>
        </div>
        @if (solicitud.idEstatusSolicitud != 6 && !(isTemplateCreator || isInterviewer || isInterviewerScales || isClinician)) {
          <div class="iigwo-input"
            >
            <div class="div-img-label">
              <mat-icon svgIcon="moneyD"
              style="color:rgba(48, 48, 48, 0.7); width: 12px; height: 12px;margin-bottom: 5px;"></mat-icon>
              <label>Payment Status</label>
            <span class="badge-status" [ngClass]="{'badge-color-partially': solicitud.idEstatusPago == 1,
                    'badge-color-complete': solicitud.idEstatusPago == 2,
                    'badge-color-hold': solicitud.idEstatusPago == 3,
                    'badge-color-na': solicitud.idEstatusPago == 4}">{{solicitud.estatusPago}}</span>
            </div>
            @if (!(isInterviewer || isTemplateCreator || isVOC || isInterviewerScales)) {
              <input [ngModel]="solicitud.adeudo" readOnly
                >
            }
          </div>
        }
        <!--<div class="iigwo-input" *ngIf="solicitud.importante.length > 0">
        <span class="badge-status badge-color-important">This file is Important</span>
      </div>-->
      @if (editando) {
        <div class="iigwo-input">
          <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
            id="waiver" [checked]="solicitud.waiver" (change)="solicitud.waiver = !solicitud.waiver">
          <label for="waiver" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Waiver</label>
        </div>
      }
      @if (editando) {
        <div class="iigwo-input">
          <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
            id="signedClnc" [checked]="solicitud.signedClnc" (change)="solicitud.signedClnc = !solicitud.signedClnc">
          <label for="signedClnc" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Signed by Clinician</label>
        </div>
      }
      @if (editando) {
        <div class="iigwo-input">
          <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
            id="consentimiento" [checked]="solicitud.consentimiento" (change)="solicitud.consentimiento = !solicitud.consentimiento">
          <label for="consentimiento" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Consent</label>
        </div>
      }
       @if (editando) {
        <div class="iigwo-input">
          <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
            id="verificacionCliente" [checked]="solicitud.verificacionCliente" (change)="solicitud.verificacionCliente = !solicitud.verificacionCliente">
          <label for="verificacionCliente" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Client Verification</label>
        </div>
      }
      <div class="iigwo-input">
        <div class="wrapper-labels">
          <mat-icon svgIcon="calendarD"
          style="color:rgba(48, 48, 48, 0.7); width: 10px; height: 11.5px;margin-bottom: 7px;"></mat-icon>
          <label>Due Date
            <a  (click)="limpiarDueDate()">Clear</a>
          </label>
        </div>
        <mat-form-field appearance="outline" class="custom-datepicker">
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="dueDateMat"
            (dateChange)="changeDueDateMat()"
            placeholder="MM/DD/YYYY"
            >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      @if (solicitud.idEstatusSolicitud != 11) {
        <div style="margin: 0; display:flex; flex-flow: column;">
          <div class="div-img-label" style="margin-top: 15px;">
            <mat-icon svgIcon="playD"
            style="color: rgba(0, 0, 0, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            <h4 style="margin: 0; ">Actions</h4>
          </div>
          @if (solicitud.idEstatusSolicitud != 11 && (isBackOffice || isMaster || isVendor || isGhostwriting) && solicitud.finIntIni && solicitud.finIntSc && ( solicitud.finAsgClnc || solicitud.idRolUsInt == 11 ) && solicitud.finAsgTmp  ) {
            <button (click)='siguienteProceso()' class="btn-color"
              style="color: #FFFFFF; background: #9340D3;">
              <span style="color: #FFFFFF; font-size: 13px;">Send to next process</span>
              <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (solicitud.idEstatusSolicitud != 11 && (isBackOffice || isMaster || isVendor || isGhostwriting) && solicitud.usuarioInterview == 0 ) {
            <button (click)='envioInterviewerCaseManager()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}" >
              <span style="color: #FFFFFF; font-size: 13px;">Send to Intv. Case Mgr</span>
              <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (solicitud.idEstatusSolicitud != 11 && (isMaster || isVendor || isBackOffice || isGhostwriting) && solicitud.asignacionIntSc == false) {
            <button (click)='envioInterviewerScales()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-scale)', 'color': '#FFFFFF'}" >
              <span style="color: #FFFFFF; font-size: 13px;">Send to Intv. Scales</span>
              <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (solicitud.idEstatusSolicitud != 11 && (isMaster || isVendor || isBackOffice || isGhostwriting) && solicitud.assignedClinician == 0 && solicitud.idRolUsInt != 11) {
            <button (click)='envioInterviewerClinician()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-clinician)', 'color': '#FFFFFF'}" >
              <span style="color: #FFFFFF; font-size: 13px;">Send to Intv. Clinician</span>
              <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          <div style="margin-top: 12px;">
          </div>
          @if (solicitud.finIntIni && solicitud.finIntSc && ( solicitud.finAsgClnc || solicitud.idRolUsInt == 11 )  && !solicitud.asignacionTemplate && (isMaster || isVendor || isBackOffice) ) {
            <button (click)='asignarTemplate()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-editor)', 'color': '#FFFFFF'}" >
              <span style="color: #FFFFFF; font-size: 13px;">Assign Template</span>
              <mat-icon svgIcon="assignD2"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (solicitud.idEstatusSolicitud == 2 && solicitud.asignacionTemplate == true && (isBackOffice || isMaster)) {
            <button (click)='cancelTemplate()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-editor)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Cancel assign Template</span>
              <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if ((isMaster || isVendor || isBackOffice) && (solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2 || solicitud.idEstatusSolicitud == 3)) {
            <button (click)='cancelarCita()' class="btn-color"
              style="color: #FFFFFF;background: #ED9A72; ">
              <span style="color: #FFFFFF; font-size: 13px;">Cancel Schedule</span>
              <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (solicitud.idEstatusSolicitud == 6) {
            <button (click)='cambiarEstatusSolicitud(11)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Finish Case</span>
              <mat-icon svgIcon="completeD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (solicitud.idEstatusSolicitud == 10 && (isMaster || isBackOffice)) {
            <button (click)='cambiarEstatusSolicitud(11, true)' class="btn-color"
              style="color: #FFFFFF;background: #D34272; ">
              <span style="color: #FFFFFF; font-size: 13px;">Closed</span>
              <mat-icon svgIcon="completeD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if ((solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2 ||solicitud.idEstatusSolicitud == 3) && (isMaster || isBackOffice) && (!solicitud.finIntIni || !solicitud.finIntSc || !solicitud.finAsgClnc) ) {
            <button (click)='cambiarEstatusSolicitud(10)' class="btn-color"
              style="color: #FFFFFF;background: #ad3d86; ">
              <span style="color: #FFFFFF; font-size: 13px;">Finish to Ready on Draft</span>
              <mat-icon svgIcon="reopenD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          <!--  FIN MASTER, VENDOR Y BACKOFFICE-->
          <!--  INICIO CASE MANAGER -->
          @if (!solicitud.finIntIni && (solicitud.usuarioInterview === idUsuarioLogueado) && isInterviewer) {
            <button (click)='envioFinEntrevistaCasemanager()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Finish file review</span>
              <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (!solicitud.finIntIni && (solicitud.usuarioInterview === idUsuarioLogueado) && isInterviewer) {
            <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
              <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (!solicitud.finIntIni && (solicitud.usuarioInterview === idUsuarioLogueado) && isInterviewer) {
            <button (click)='cambiarEstatusSolicitud(5)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-no-show)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">No Show</span>
              <mat-icon svgIcon="calendar-slash"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          <!--  FIN CASE MANAGER -->
          <!--  INICIO SCALES -->
          <!-- if anterior
          *ngIf="!solicitud.finIntSc && isInterviewerScales && (solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2||solicitud.idEstatusSolicitud == 3)" -->
          @if (!solicitud.finIntSc && isInterviewerScales) {
            <button (click)='envioFinEntrevistaScales()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Finish file review</span>
              <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (!solicitud.finIntSc && isInterviewerScales) {
            <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
              <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (!solicitud.finIntSc && isInterviewerScales) {
            <button (click)='cambiarEstatusSolicitud(5)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-no-show)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">No show</span>
              <mat-icon svgIcon="calendar-slash"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          <!--  FIN SCALES -->
          <!--  INICIO TEMPLATE -->
          @if (isTemplateCreator && (solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2|| solicitud.idEstatusSolicitud == 3 )) {
            <button (click)='siguienteProceso()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Send to next process</span>
              <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (isTemplateCreator && ( solicitud.idEstatusSolicitud == 1 || solicitud.idEstatusSolicitud == 2||solicitud.idEstatusSolicitud == 3 )) {
            <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
              <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          <!--  FIN TEMPLATE -->
          <!--   BOTONES PARA CLINICIAN   -->
          <!--EN CASO ASGN CLINICIAN-->
          @if (!solicitud.finAsgClnc && isClinician && solicitud.idRolUsInt != 11  && (solicitud.assignedClinician === idUsuarioLogueado)) {
            <button (click)='envioFinEntrevistaClinician()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Finish file review</span>
              <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (!solicitud.finAsgClnc && isClinician && solicitud.idRolUsInt != 11 && (solicitud.assignedClinician === idUsuarioLogueado)) {
            <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
              <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (!solicitud.finAsgClnc && isClinician && solicitud.idRolUsInt != 11 && (solicitud.assignedClinician === idUsuarioLogueado)) {
            <button (click)='cambiarEstatusSolicitud(5)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-no-show)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">No show</span>
              <mat-icon svgIcon="calendar-slash"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          <!--   FIN BOTONES PARA CLINICIAN   -->
          <!--EN CASO CASE MANAGER CLINICIAN-->
          @if (solicitud.idRolUsInt == 11 && isClinician && !solicitud.finIntIni) {
            <button (click)='envioFinEntrevistaClinician()' class="btn-color"
              [ngStyle]="{'background': 'var(--app-case-manager)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Finish file review</span>
              <mat-icon svgIcon="sendD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (solicitud.idRolUsInt == 11 && isClinician && !solicitud.finIntIni) {
            <button (click)='cambiarEstatusSolicitud(4)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-reject)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">Reject File</span>
              <mat-icon svgIcon="cancel"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          @if (solicitud.idRolUsInt == 11 && isClinician && !solicitud.finIntIni) {
            <button (click)='cambiarEstatusSolicitud(5)' class="btn-color"
              [ngStyle]="{'background': 'var(--app-no-show)', 'color': '#FFFFFF'}">
              <span style="color: #FFFFFF; font-size: 13px;">No show</span>
              <mat-icon svgIcon="calendar-slash"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
          <!--   FIN BOTONES PARA CLINICIAN   -->
        </div>
      }
      @if (solicitud.idEstatusSolicitud == 11 && (isMaster || isBackOffice)) {
        <div style="margin: 0; display:flex; flex-flow: column;"
          >
          <div class="div-img-label" style="margin-top: 15px;">
            <mat-icon svgIcon="playD"
            style="color: rgba(0, 0, 0, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            <h4 style="margin: 0; ">Actions</h4>
          </div>
          <button (click)='guardarCambiosClosed()' class="btn-color btn-color-accent" style="color: #FFFFFF;">
            <span style="color: #FFFFFF; font-size: 13px;">Save changes</span>
            <mat-icon svgIcon="saveD"
            style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>
          @if (solicitud.lostFile && (isMaster || isBackOffice)) {
            <button (click)='cambiarEstatusSolicitud(9)' class="btn-color"
              style="color: #FFFFFF;background: #319757; ">
              <span style="color: #FFFFFF; font-size: 13px;">Reopen</span>
              <mat-icon svgIcon="reopenD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
          }
        </div>
      }
      @if (solicitud.idEstatusSolicitud == 11 && (isVendor || isInterviewer || isInterviewerScales || isTemplateCreator || isClinician)) {
        <div style="margin: 0; display:flex; flex-flow: column;"
          >
          <button (click)='guardarCambiosClosed()' class="btn-color btn-color-accent" style="color: #FFFFFF;">
            <span style="color: #FFFFFF; font-size: 13px;">Save changes</span>
            <mat-icon svgIcon="saveD"
            style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
          </button>
        </div>
      }
    </div>
  }
</div>
}
<!--Cargando-->
@if (cargando) {
  <div class='iigwo-loading'>
    <mat-spinner></mat-spinner>
  </div>
}
</div>
}
</div>