<div style="height: 48px;"></div>

<div *ngFor='let g of grupos' style="overflow: hidden; padding: 16px;">

    <h4 style="margin: 0;">{{g}}</h4>
    <div *ngFor='let e of pantallas[g]' (click)="this.router.navigate([e.uri]);" style="
        width: 156px;
        height: 156px;
        border-radius: 4px;
        margin: 8px 8px 0 0;
        display: inline-block;
        position: relative;
        background: #3e3d8a;
        cursor: pointer;
    ">
        <p style="
            position: absolute;
            top: 0;
            left: 0;
            font-size: 14px;
            margin: 16px;
            color: white;
        "
        >{{e.title}}</p>
    </div>
</div>

<div style="
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;">
    <img src="{{baseHref}}assets/img/main-logo.png" style="
        width: 50%;
        min-width: 250px;
        max-width: 600px;
        ">
    <h2><strong>Welcome!</strong></h2>
    <h3>You can select an option from the menu &#x2630;</h3>
</div>
