<app-workspace-nav>
  <app-solicitudes-nav></app-solicitudes-nav>
</app-workspace-nav>
<div class='workspace'>
  <div class='main'>

    <app-experimental-menu titulo="Psychotherapists">

      <button (click)='refrescar()' class="btn"
        style="color: #FFFFFF;background: #f3c956; border-radius: 5px; height: 20px; line-height: 20px;margin-left: 10px;">
        <mat-icon svgIcon="refresh" style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
        <label style="margin: auto;color: #FFFFFF;text-transform: none;">Refresh</label>
      </button>

      <button (click)='descargarReporteMensual()' class="btn"
        style="color: #FFFFFF;background: #00949b; border-radius: 5px; height: 20px; line-height: 20px;margin-left: auto;">
        <mat-icon svgIcon="file-download" style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
        <label style="margin: auto;color: #FFFFFF;text-transform: none;">Download monthly report of therapist hours</label>
      </button>

    </app-experimental-menu>

    <div class='content'>

      <!-- BUSCADOR SIMPLE -->
      <div>
        <div style="margin-bottom: 16px; display: flex; align-items: center; gap: 8px;">
          <div class="iigwo-input inline" style="margin-top: 20px;width: 180px;">
            <input [(ngModel)]="searchTerm"
              (keyup.enter)="buscarPsicoterapeutas()"
              placeholder="Search by user, name or phone">
          </div>

          <button (click)="buscarPsicoterapeutas()" class=" iigwo btn-color btn-color-accent"
            style="color: #FFFFFF; border: 0.5px solid #b1b1b1;margin-top: 18px;"
            [ngStyle]="{'color':'#FFFFFF','background': 'var(--app-accent)','margin-top': '18px'}">
            <span style="color: #FFFFFF; font-size: 13px;">Apply filters</span>
          </button>
        </div>
      </div>

      <!-- TABLA CON REGISTROS -->
      <div style="">
        @if (!(psicoterapeutas.length == 0)) {
          <table class='big'>
            <tr>
              <th class=''>Status</th>
              <th class=''>User</th>
              <th class=''>Name</th>
              <th class=''>Phone</th>
              <th class=''>Email</th>
              <th class=''>License</th>
              <th class=''>License Validity</th>
              <th class=''>Availability</th>
              <th class=''>Rate</th>
              <th class=''>With Supervision</th>
              <th class=''>Supervisor</th>
              @if (isVOC) {
                <th class=''>Actions</th>
              }
            </tr>
            @for (e of psicoterapeutas | slice:paginacion.begin:paginacion.end; track e) {
              <tr>
                <td class='accent'>
                  @if (e.estatus === '3') {
                    <span class="circulo-badge color-circulo-badge-activo">B</span>
                  }
                  @if (e.estatus === '1') {
                    <span class="circulo-badge color-circulo-badge-block">A</span>
                  }
                </td>
                <td class=''>{{e.usuario}}</td>
                <td class=''>{{e.nombre}}</td>
                <td class='accent'>
                  @if (e.telefono != null && e.telefono != '') {
                    <mat-icon svgIcon="phoneD"
                    style="color:rgba(0, 0, 0, 0.7); width: 13px; height: 13px;margin-bottom: -2px;margin-right: 2px;"></mat-icon>
                  }
                  {{e.telefono | phone}}
                </td>
                <td class='accent'>
                  @if (e.correoElectronico != null && e.correoElectronico != '') {
                    <mat-icon svgIcon="emailD"
                    style="color:rgba(0, 0, 0, 0.7); width: 13px; height: 13px;margin-bottom: -2px;"></mat-icon>
                  }
                {{e.correoElectronico}}</td>
                <td class=''>{{e.licencia}}</td>
                <td class=''>{{e.licenciaValida}}</td>
                <td class=''>{{e.disponibilidad}}</td>
                <td class=''>{{e.rate}}</td>
                <td class=''>
                  @if (e.withSupervision) {
                    <label>Yes</label>
                  } @else {
                    <label>No</label>
                  }
                </td>
                <td class=''>{{nombreSupervisor(e.supervisor)}}</td>
                @if (isVOC) {
                  <td class=''>
                    <mat-icon svgIcon="eyeD"
                    (click)="verUsuario(e)"
                    title="View / Edit psychotherapist"
                    style="width: 18px; height: 18px; cursor: pointer;"></mat-icon>
                  </td>
                }
              </tr>
            }
            <tr>
              <td colspan="99" style="text-align: right;line-height: 24px;" class="mini">
                <label>Records per page</label>
                <select [(ngModel)]="paginacion.size" (ngModelChange)="paginacion.fix()" [ngModelOptions]="{standalone: true}"
                  style="margin: 0 8px; font-family: regular; height: 24px;">
                  <option value="15">15</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                {{paginacion.begin + 1}}-{{paginacion.end}} of {{paginacion.array.length}}
                <button class="iigwo small"
                  style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                  (click)="paginacion.back();">
                  <mat-icon svgIcon="arrow-back"></mat-icon>
                </button>
                <button class="iigwo small"
                  style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                  (click)="paginacion.forward();">
                  <mat-icon svgIcon="arrow-forward"></mat-icon>
                </button>
              </td>
            </tr>
          </table>
        }
      </div>

      <!-- MENSAJE DE NO HAY REGISTROS -->
      @if (psicoterapeutas.length == 0) {
        <div>
          <h3 style="margin:12px 0 6px 0">No results</h3>
          <p style="max-width:396px;">There are no psychotherapists within the search criteria. Make sure that the names are correct and that they are searching in the appropriate field.</p>
        </div>
      }

      @if (isVOC) {
        <div style="margin-top: 16px; text-align: left;">
          <span class="mini" style="color: #888;">Select a psychotherapist and click the eye icon to view / edit or download their hours report.</span>
        </div>
      }

    </div>

    <!--Cargando-->
    @if (cargando) {
      <div class='iigwo-loading'>
        <mat-spinner></mat-spinner>
      </div>
    }
  </div>
</div>
