<h2 mat-dialog-title style="font-family: regular;color:#75518c">
  {{interviewerScales ? "Send to Interviewer Scales" : 
    (interviewerClinician ? "Send to Interviewer Clinician" : "Send to Interviewer")}}
</h2>

<mat-dialog-content>
  <div style="display: inline-flex;">

    <div class="iigwo-input">
      <label>Date</label>
      <input [ngModel]="fecha" (ngModelChange)='fecha = $event; obtenerDisponibilidadUsuarios()' type="date">
    </div>

    <div class="iigwo-input" *ngIf="isClinician" >
      <label>State</label>
      <select [(ngModel)]="estado" [ngModelOptions]="{standalone: true}" (ngModelChange)='estado = $event; obtenerDisponibilidadUsuarios()'>
        <option *ngFor="let state of arrStates" [ngValue]="state.abbreviation">
          {{state.abbreviation}}</option>
      </select>
    </div>

    <div class="iigwo-input" style="text-align: center;">
      <label for="fechaAnterior" style="font-size: 12px;">Previous Date</label>
      <input type="checkbox" style="width: 15px;line-height: 18px;margin: 0 6px 0 4px;" id="fechaAnterior"
        [checked]="fechaAnterior" (change)="fechaAnterior = !fechaAnterior; obtenerDisponibilidadUsuarios()">
    </div>

    

  </div>
  <table class="informative" *ngIf="arrDisponibilidadUsuario.length > 0">
    <tr>
      <th class=''></th>
      <th>Name</th>
      <th>Day</th>
      <th>Hour</th>
      <th>Summary</th>
      <th>Time zone</th>
      <th>Time file</th>
      <th>Rol</th>
    </tr>
    <tr *ngFor='let e of arrDisponibilidadUsuario | slice:paginacion.begin:paginacion.end'>
      <td class=''><input type="checkbox" [checked]="estaSeleccionado(e.idDisponibilidad)"
          (change)="check($event, e.idDisponibilidad)"></td>
      <td>{{e.nombreUsuario}}</td>
      <td style="white-space: nowrap;">{{e.fecha | dateMMDDYYYY}}</td>
      <td style="white-space: nowrap;">{{e.hora.toString().padStart(2,'0')}} {{e.tipo}}</td>
      <td>{{e.resumen}}</td>
      <td>{{e.zonaHoraria}}</td>
      <td>{{e.timeFile}}</td>
      <td>{{e.rol}}</td>
    </tr>
    <tr>
      <td colspan="99" style="text-align: right;line-height: 24px;" class="mini">
        <label>
          Records per page</label>
        <select [(ngModel)]="paginacion.size" (ngModelChange)="paginacion.fix()" [ngModelOptions]="{standalone: true}"
          style="margin: 0 8px; font-family: regular; height: 24px;">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        {{paginacion.begin + 1}}-{{paginacion.end}} of {{paginacion.array.length}}
        <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
          (click)="paginacion.back();">
          <mat-icon svgIcon="arrow-back"></mat-icon>
        </button>
        <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
          (click)="paginacion.forward();">
          <mat-icon svgIcon="arrow-forward"></mat-icon>
        </button>
      </td>
    </tr>
  </table>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="iigwo" style="margin-left:auto;" (click)='cerrar()'>Cancel</button>
  <button class="iigwo accent" style="margin-right:0;" [disabled]="!idDisponibilidadSelected"
    (click)='enviar()'>Send</button>
</mat-dialog-actions>

<!-- CARGANDO-->
<div class='iigwo-loading' *ngIf="cargando">
  <mat-spinner></mat-spinner>
</div>
