<h2 mat-dialog-title style="font-family: regular;color:#75518c">New Event</h2>

<mat-dialog-content style="padding-right: 12px;">

    <div style="width: 450px;">
        <div class="iigwo-input">
            <label>Comments</label>
            <textarea [(ngModel)]="eventoSolicitud.descripcion"></textarea>
        </div>

        <div style="display: flex;">

            <div class="iigwo-input">
                <label>Type</label>
                <select [(ngModel)]="eventoSolicitud.tipo" (ngModelChange)="typeSelected()" [ngModelOptions]="{standalone: true}">
                    <option value="Info">Info</option>
                    <option value="Schedule">Schedule</option>
                    <option value="Important">Important</option>
                    <option value="Suicide">Suicide</option>
                </select>
            </div>

            <!-- <div class="iigwo-input" *ngIf="eventoSolicitud.tipo == 'Schedule'">
                <label>Date and Time</label>
                <input type="datetime-local" [(ngModel)]="eventoSolicitud.fecha">
            </div> -->

            <div class="iigwo-input" *ngIf="eventoSolicitud.tipo == 'Schedule'">
              <label>Date</label>
              <input type="date" [(ngModel)]="eventoSolicitud.fecha">
            </div>
            <div class="iigwo-input" *ngIf="eventoSolicitud.tipo == 'Schedule'">
              <label>Time</label>
              <select [(ngModel)]="eventoSolicitud.hora" style="min-width: 74px;" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let time of arrTime" [ngValue]="time">
                  {{time}}</option>
              </select>
            </div>
            <div class="iigwo-input" *ngIf="eventoSolicitud.tipo == 'Schedule'">
              <label>Type</label>
              <select [(ngModel)]="eventoSolicitud.tipoSchedule" style="min-width: 60px;" [ngModelOptions]="{standalone: true}">
                <option value="AM">AM</option>
                <option value="PM">PM</option>
              </select>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="iigwo" style="margin-left:auto;" (click)='cerrar()'>Close</button>
    <button class="iigwo accent" style="margin-right:0;" (click)='crear()'>Save</button>
</mat-dialog-actions>

<!-- CARGANDO-->
<div class='iigwo-loading' *ngIf="cargando">
    <mat-spinner></mat-spinner>
</div>
