<app-workspace-nav>
  <app-marketing-nav></app-marketing-nav>
</app-workspace-nav>

<div class="workspace">
  <div class="main">

    <app-experimental-menu [titulo]="titulo" backButtonEnabled="true">

      <div style="margin-left: auto; display: flex; flex-direction: row; align-items: center; gap: 4px;">

        <!--MARKETING-->
        @if (isMarketing) {
        @if (!creando && idEstatusProspecto == 1) {
        <button (click)='terminarProspecto()' class="btn"
          style="color: #FFFFFF;background: #288867; border-radius: 5px; height: 20px; line-height: 20px;">
          <mat-icon svgIcon="sendD"
            style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
          <label style="margin: auto;color: #FFFFFF;text-transform: none;">Next Process</label>
        </button>
        }
        @if (!creando && idEstatusProspecto == 1) {
        <button (click)='coldProspecto()' class="btn"
          style="color: #FFFFFF;background: #5facff; border-radius: 5px; height: 20px; line-height: 20px;">
          <mat-icon svgIcon="cold"
            style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
          <label style="margin: auto;color: #FFFFFF;text-transform: none;">Cold</label>
        </button>
        }
        @if (!creando && idEstatusProspecto == 1) {
        <button (click)='cancelarProspecto()' class="btn"
          style="color: #FFFFFF;background: #d8914a; border-radius: 5px; height: 20px; line-height: 20px;">
          <mat-icon svgIcon="cancel"
            style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
          <label style="margin: auto;color: #FFFFFF;text-transform: none;">Not interesed</label>
        </button>
        }
        
        
        @if (!creando && (idEstatusProspecto == 1 || idEstatusProspecto == 6)) {
        <button (click)='closedProspecto()' class="btn"
          style="color: #FFFFFF;background: #ff745f; border-radius: 5px; height: 20px; line-height: 20px;">
          <mat-icon svgIcon="cancel"
            style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
          <label style="margin: auto;color: #FFFFFF;text-transform: none;">Closed</label>
        </button>
        }
        }
        

        <!--MARKETING REV-->
         @if (isMarketingRev) {
        @if (!creando && idEstatusProspecto == 2) {
          <button (click)='sucessfulClient()' class="btn"
            style="color: #FFFFFF;background: #288867; border-radius: 5px; height: 20px; line-height: 20px;">
            <mat-icon svgIcon="sendD"
            style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
            <label style="margin: auto;color: #FFFFFF;text-transform: none;">Successful client</label>
          </button>
        
        @if (!creando  && (idEstatusProspecto == 1 || idEstatusProspecto == 2 || idEstatusProspecto == 6)) {
          <button (click)='closedProspecto()' class="btn"
            style="color: #FFFFFF;background: #ff745f; border-radius: 5px; height: 20px; line-height: 20px;">
            <mat-icon svgIcon="cancel"
            style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
            <label style="margin: auto;color: #FFFFFF;text-transform: none;">Closed</label>
          </button>
        }
      }
    }
      </div>

    </app-experimental-menu>

    @if (prospecto; as p) {
      <div style="display:flex; flex-flow: row">
        <div class='content-big' [ngStyle]="{'right': (creando ? '0' : '0px')}"
          style="display:flex; flex-flow: column;">
          <div style="display:flex; flex-flow: row; flex-wrap: wrap;">
            <div class="column">
              @if (!creando) {
                <div class="iigwo-input">
                  <div class="div-img-label">
                    <label>Lawyer Status</label>
                                <span class="badge-status" [ngClass]="{
                                    'badge-color-lawyer-prospect-prospect': p.idEstatusProspecto == 1,
                                    'badge-color-lawyer-prospect-interested': p.idEstatusProspecto == 2,
                                    'badge-color-lawyer-prospect-not-interested': p.idEstatusProspecto == 3,
                                    'badge-color-lawyer-prospect-successful': p.idEstatusProspecto == 4,
                                    'badge-color-lawyer-prospect-closed': p.idEstatusProspecto == 5,
                                    'badge-color-lawyer-prospect-cold': p.idEstatusProspecto == 6}">
                      {{p.estatusProspecto}}
                    </span>
                  </div>
                </div>
              }
              @if (p.solicitudRelacionada != 0 && !creando) {
                <div class="iigwo-input">
                  <div class="div-img-label">
                    <label style="color:#288867">Prospect send client into CRM at date {{p.fechaEnvioCliente}} in file {{p.solicitudRelacionada}}</label>
                  </div>
                </div>
              }
              @if (idEstatusProspecto == 2 && p.solicitudRelacionada == 0) {
                <button (click)='addCrmFileManual()' class="btn btn-addcrmfile"
                  style="color: #FFFFFF;background: #239077; border-radius: 5px; height: 20px; line-height: 20px;">
                  <mat-icon svgIcon="add"
                  style="color:rgba(255, 255, 255, 0.7); width: 15px; margin-bottom: 2px;margin-right: 5px;"></mat-icon>
                  <label style="margin: auto;color: #FFFFFF;text-transform: none;">Add CRM file manually</label>
                </button>
              }
              @if (!creando) {
                <div class="iigwo-input">
                  <div class="div-img-label">
                    <mat-icon svgIcon="calendarD"
                    style="color:rgba(0, 0, 0, 0.7); width: 10px; height: 11.5px;margin-bottom: 7px;"></mat-icon>
                    <label>Creation Date</label>
                  </div>
                  <div class="horizontal-container">
                    <input [ngModel]="p.fechaAlta | dateMMDDYYYY" readonly>
                  </div>
                </div>
              }
              <div class="iigwo-input">
                  <label>Source</label>
               
                <select [(ngModel)]='p.fuente' [ngModelOptions]="{standalone: true}"
                  style="margin: 0 0 6px 0;">
                  @for (fuente of arrFuentes; track fuente) {
                    <option>{{fuente}}</option>
                  }
                </select>
              </div>
              <div class="iigwo-input">
                @if (creando) {
                  <label required>Law firm</label>
                }
                @if (!creando) {
                  <label>Law firm</label>
                }
                <input type="text" [(ngModel)]="p.firma" [required]="true">
              </div>
              <div class="iigwo-input">
                @if (creando) {
                  <label required>Name</label>
                }
                @if (!creando) {
                  <label>Name</label>
                }
                <input type="text" [(ngModel)]="p.nombre">
              </div>
              <div class="iigwo-input">
                <label>Addres</label>
                <input type="text" [(ngModel)]="p.direccion">
              </div>
              <div class="iigwo-input">
                @if (creando) {
                  <label required>Phone</label>
                }
                @if (!creando) {
                  <label>Phone</label>
                }
                <input type="text" [(ngModel)]="p.telefono">
              </div>
              <div class="iigwo-input">
                <label>State</label>
                <select [(ngModel)]="p.estado" [ngModelOptions]="{standalone: true}">
                  @for (state of arrStates; track state) {
                    <option [ngValue]="state.abbreviation">
                    {{state.abbreviation}}</option>
                  }
                </select>
              </div>
              @if (!creando) {
                <div class="iigwo-input">
                  <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
                    id="waiver" [checked]="p.mailPackageReceived" (change)="p.mailPackageReceived = !p.mailPackageReceived" [disabled]="!isMarketing">
                  <label for="mailPackageReceived" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Mail package received {{p.fechaMailPackageReceived}}</label>
                </div>
              }
              @if (!creando) {
                <div class="iigwo-input">
                  <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
                    id="waiver" [checked]="p.envioCorreo" (change)="p.envioCorreo = !p.envioCorreo" [disabled]="!isMarketing">
                  <label for="envioCorreo" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Email sent {{p.fechaEnvioCorreo}}</label>
                </div>
              }
              @if (!creando && isMarketingRev) {
                <div class="iigwo-input">
                  <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
                    id="waiver" [checked]="p.porcentaje1" (change)="p.porcentaje1 = !p.porcentaje1" [disabled]="!isMarketingRev">
                  <label for="envioCorreo" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">20%    {{p.fechaPorcentaje1}}</label>
                </div>
              }
              @if (!creando && p.fechaRecordatorioLiaison != '' && p.fechaRecordatorioLiaison != null) {
                <div class="iigwo-input" >
                  <div class="iigwo-input">
                    <label>Reminder Date
                    </label>
                    <mat-form-field appearance="outline" class="custom-datepicker">
                      <input
                        matInput
                        [matDatepicker]="pickerFN"
                        [(ngModel)]="fechaRecordatorioLiaisonMat "
                        (dateChange)="changeFechaRecordatorioLiaisonMat()"
                        placeholder="MM/DD/YYYY"
                        />
                      <mat-datepicker-toggle matSuffix [for]="pickerFN"></mat-datepicker-toggle>
                      <mat-datepicker #pickerFN ></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              }
              @if (!creando && isMarketingRev) {
                <div class="iigwo-input">
                  <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
                    id="waiver" [checked]="p.porcentaje2" (change)="p.porcentaje2 = !p.porcentaje2" [disabled]="!isMarketingRev">
                  <label for="envioCorreo" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Follow up 20%    {{p.fechaPorcentaje2}}</label>
                </div>
              }
              <div class="separador">
              </div>
              @if (creando) {
                <div class="iigwo-input" style="margin-bottom: 15px;">
                  <label class="titulo-emails-section">Write the info to add new email to prospect</label>
                  <label>New email prospect</label>
                  <div class="input-row-fixed" style="margin-bottom: 18px;">
                    <input type="text" [(ngModel)]="inputAbogadoN">
                    <button (click)='addMailAbogadoN()' class="btn-icon" matTooltip="Add">
                      <mat-icon svgIcon="add"></mat-icon>
                    </button>
                  </div>
                  @for (emAbo of arrEmailAbogadosN; track emAbo) {
<div style="display: block; 
                                background-color: #f0f0f0; 
                                border-radius: 16px; 
                                padding: 0.5px 2px; 
                                margin-top: 3px;
                                width: fit-content;
                                align-items: center;">
                      <span class="badge-file-icon" style="color: darkviolet; vertical-align: middle;"><mat-icon
                      svgIcon="scales"></mat-icon></span>
                      <span style="margin-right: 5px; font-family: regular; vertical-align: middle;font-size:10px">{{emAbo}}</span>
                      <span style="margin-left: 8px; vertical-align: middle;">
                        <button style="background: none; border: none; cursor: pointer;vertical-align: middle;"
                          (click)="removeMailAbogadoN(emAbo)">
                          <mat-icon style="margin-top: 1px;width: 15px;vertical-align: middle;" svgIcon="close"></mat-icon>
                        </button>
                      </span>
                    </div>
                  }
                </div>
              }
              @if (!creando) {
                <div class="iigwo-input" style="margin-bottom: 15px;">
                  <label class="titulo-emails-section">Write te info to add new email to prospect</label>
                  <label>New email prospect</label>
                  <div class="input-row-fixed" style="margin-bottom: 18px;">
                    <input type="text" [(ngModel)]="inputAbogado.email">
                    <button (click)='addEmailAbo()' class="btn-icon" matTooltip="Add">
                      <mat-icon svgIcon="add"></mat-icon>
                    </button>
                  </div>
                  @for (emAbo of arrEmailAbogados; track emAbo) {
<div style="display: block; 
                                background-color: #f0f0f0; 
                                border-radius: 16px; 
                                padding: 0.5px 2px; 
                                margin-top: 3px;
                                width: fit-content;
                                align-items: center;">
                      <span class="badge-file-icon" style="color: darkviolet; vertical-align: middle;"><mat-icon
                      svgIcon="scales"></mat-icon></span>
                      <span style="margin-right: 5px; font-family: regular; vertical-align: middle;font-size:10px">{{emAbo.email}}</span>
                      <span style="margin-left: 8px; vertical-align: middle;">
                        <button style="background: none; border: none; cursor: pointer;vertical-align: middle;"
                          (click)="removeEmailAbo(emAbo.idEmailProsAbo)">
                          <mat-icon style="margin-top: 1px;width: 15px;vertical-align: middle;" svgIcon="close"></mat-icon>
                        </button>
                      </span>
                    </div>
                  }
                </div>
              }
            </div>
          </div>
          @if (creando) {
            <button (click)='crearCrearProspectoAbogado()' class="btn-color"
              style="color: #ffffff; background: #8837a2;margin-bottom: 5px;">
              <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
              <span style="color: #ffffff; font-size: 13px;">Create Prospect</span>
            </button>
          }
          @if (!creando && (prospecto.idEstatusProspecto == 1 || prospecto.idEstatusProspecto == 2)) {
            <button (click)='guardarCambios()' class="btn-color btn-color btn-color-accent"
              style="color: #ffffff; ;margin-bottom: 5px;">
              <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
              <span style="color: #ffffff; font-size: 13px;">Save Changes</span>
            </button>
          }
          @if (p.idProspectoAbogado) {
            <div style="display:flex; flex-flow: row;">
              <app-lawyers-notes [idProspectoAbogado]="p.idProspectoAbogado" [idEstatusProspecto]="p.idEstatusProspecto">
              </app-lawyers-notes>
            </div>
          }
        </div>
        @if (cargando) {
          <div class='iigwo-loading'>
            <mat-spinner></mat-spinner>
          </div>
        }
      </div>
    }
  </div>