<app-workspace-nav>
  <app-general-nav></app-general-nav>
</app-workspace-nav>
<div class='workspace'>

  <div class='main'>
    <app-experimental-menu titulo="Scheduled tasks"></app-experimental-menu>

    <div class='content'>

      <h4 class="title">{{tituloRecordatorioPagoOld}}</h4>

      <div class="iigwo-input">
        <label>Day of week</label>
        <select [(ngModel)]='diaEnvioRecordatorioPago' [attr.disabled]="cambiandoDiaEnvioRecordatorioPago ? null : ''" [ngModelOptions]="{standalone: true}"
          style="margin: 0 0 6px 0;">
          @for (dia of dias; track dia) {
            <option>{{dia}}</option>
          }
        </select>
        <label>Time</label>
        <input [(ngModel)]="horaEnvioRecordatorioPago" type="time"
          [attr.readOnly]="cambiandoDiaEnvioRecordatorioPago ? null : false">
        <p style="margin-top: 5px;">{{subtituloRecordatorioPagoOld}}</p>
      </div>

      <div class="iigwo-input" style="margin: 0;" >
        <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 0;"
          [checked]="activoPago" [(ngModel)]="activoPago">
        <label
        style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Active</label>
      </div>

      <div style="display: flex; gap: 8px; align-items: center;">

        @if (cambiandoDiaEnvioRecordatorioPago==false) {
          <button (click)='cambiandoDiaEnvioRecordatorioPago=true'
            class="btn-color" style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Change day and time</span>
          </button>
        }

        @if (cambiandoDiaEnvioRecordatorioPago==false) {
          <button (click)='ejecutarTarea(1)' class="btn-color"
            style="color: #ffffff; background: #41949B;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Execute task</span>
          </button>
        }

        @if (cambiandoDiaEnvioRecordatorioPago==true) {
          <button (click)='cambiarDato(1)' class="btn-color"
            style="color: #ffffff; background: #8837a2;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Change day and time</span>
          </button>
        }

        @if (cambiandoDiaEnvioRecordatorioPago==true) {
          <button (click)="cancelarCambio(1)" class="btn-color"
            style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Cancel</span>
          </button>
        }
      </div>


      <!-- ================================================== -->

      <hr style="max-width:396px;margin-bottom:24px;">

      <!-- ================================================== -->

      <h4 class="title">{{tituloRecordatorioSolicitudesOld}}</h4>

      <div class="iigwo-input">
        <label>Day of week</label>
        <select [(ngModel)]='diaEnvioRecordatorioSolicitudes' [ngModelOptions]="{standalone: true}"
          [attr.disabled]="cambiandoDiaEnvioRecordatorioSolicitudes ? null : ''" style="margin: 0 0 6px 0;">
          @for (dia of dias; track dia) {
            <option>{{dia}}</option>
          }
        </select>
        <label>Time</label>
        <input [(ngModel)]="horaEnvioRecordatorioSolicitudes" type="time"
          [attr.readOnly]="cambiandoDiaEnvioRecordatorioSolicitudes ? null : false">
        <p style="margin-top: 5px;">{{subtituloRecordatorioSolicitudesOld}}</p>
      </div>

      <div class="iigwo-input" style="margin: 0;" >
        <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 0;"
          [checked]="activoRecordatorioSolicitudes" [(ngModel)]="activoRecordatorioSolicitudes">
        <label
        style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Active</label>
      </div>

      <div style="display: flex; gap: 8px; align-items: center;">

        @if (cambiandoDiaEnvioRecordatorioSolicitudes==false) {
          <button (click)='cambiandoDiaEnvioRecordatorioSolicitudes=true'
            class="btn-color" style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Change day and time</span>
          </button>
        }

        @if (cambiandoDiaEnvioRecordatorioSolicitudes==false) {
          <button (click)='ejecutarTarea(2)' class="btn-color"
            style="color: #ffffff; background: #41949B;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Execute task</span>
          </button>
        }

        @if (cambiandoDiaEnvioRecordatorioSolicitudes==true) {
          <button (click)='cambiarDato(2)' class="btn-color"
            style="color: #ffffff; background: #8837a2;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Change day and time</span>
          </button>
        }

        @if (cambiandoDiaEnvioRecordatorioSolicitudes==true) {
          <button (click)="cancelarCambio(2)" class="btn-color"
            style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Cancel</span>
          </button>
        }
      </div>

      <!-- ================================================== -->

      <hr style="max-width:396px;margin-bottom:24px;">

      <!-- ================================================== -->

      <h4 class="title">{{tituloCitasRecordatorioOld}}</h4>

      <div class="iigwo-input">
        <input [(ngModel)]="horaCitasRecordatorioOld" type="time"
          [attr.readOnly]="cambiandoCitasRecordatorio ? null : false">
        <p style="margin-top: 5px;">{{subtituloCitasRecordatorioOld}}</p>
      </div>

      <div class="iigwo-input" style="margin: 0;" >
        <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 0;"
          [checked]="activoCitasRecordatorio" [(ngModel)]="activoCitasRecordatorio">
        <label
        style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Active</label>
      </div>

      <div style="display: flex; gap: 8px; align-items: center;">

        @if (cambiandoCitasRecordatorio==false) {
          <button (click)='cambiandoCitasRecordatorio=true'
            class="btn-color" style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Change time</span>
          </button>
        }

        @if (cambiandoCitasRecordatorio==false) {
          <button (click)='ejecutarTarea(3)' class="btn-color"
            style="color: #ffffff; background: #41949B;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Execute task</span>
          </button>
        }

        @if (cambiandoCitasRecordatorio==true) {
          <button (click)='cambiarDato(3)' class="btn-color"
            style="color: #ffffff; background: #8837a2;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Change time</span>
          </button>
        }

        @if (cambiandoCitasRecordatorio==true) {
          <button (click)="cancelarCambio(3)" class="btn-color"
            style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Cancel</span>
          </button>
        }
      </div>


      <!-- ================================================== -->

      <hr style="max-width:396px;margin-bottom:24px;">

      <!-- ================================================== -->

      <h4 class="title">{{tituloVocEndSessionOld}}</h4>

      <div class="iigwo-input">
        <input [(ngModel)]="horaVocEndSession" type="time"
          [attr.readOnly]="cambiandoVocEndSession ? null : false">
        <p style="margin-top: 5px;">{{subtituloVocEndSessionOld}}</p>
      </div>

      <div class="iigwo-input" style="margin: 0;" >
        <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 0;"
          [checked]="activoVocEndSession" [(ngModel)]="activoVocEndSession">
        <label
        style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Active</label>
      </div>

      <div style="display: flex; gap: 8px; align-items: center;">

        @if (cambiandoVocEndSession==false) {
          <button (click)='cambiandoVocEndSession=true'
            class="btn-color" style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Change time</span>
          </button>
        }

        @if (cambiandoVocEndSession==false) {
          <button (click)='ejecutarTarea(4)' class="btn-color"
            style="color: #ffffff; background: #41949B;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Execute task</span>
          </button>
        }

        @if (cambiandoVocEndSession==true) {
          <button (click)='cambiarDato(4)' class="btn-color"
            style="color: #ffffff; background: #8837a2;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Change time</span>
          </button>
        }

        @if (cambiandoVocEndSession==true) {
          <button (click)="cancelarCambio(4)" class="btn-color"
            style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Cancel</span>
          </button>
        }
      </div>

      <!-- ================================================== -->

      <hr style="max-width:396px;margin-bottom:24px;">

      <!-- ================================================== -->

      <h4 class="title">{{tituloRemLawProsOld}}</h4>

      <div class="iigwo-input">
        <input [(ngModel)]="remLawPros" type="time"
          [attr.readOnly]="cambiandoRemLawPros ? null : false">
        <p style="margin-top: 5px;">{{subtituloRemLawProsOld}}</p>
      </div>

      <div class="iigwo-input" style="margin: 0;" >
        <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 0;"
          [checked]="activoRemLawPros" [(ngModel)]="activoRemLawPros">
        <label
        style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Active</label>
      </div>

      <div style="display: flex; gap: 8px; align-items: center;">

        @if (cambiandoRemLawPros==false) {
          <button (click)='cambiandoRemLawPros=true'
            class="btn-color" style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Change time</span>
          </button>
        }

        @if (cambiandoRemLawPros==false) {
          <button (click)='ejecutarTarea(5)' class="btn-color"
            style="color: #ffffff; background: #41949B;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Execute task</span>
          </button>
        }

        @if (cambiandoRemLawPros==true) {
          <button (click)='cambiarDato(5)' class="btn-color"
            style="color: #ffffff; background: #8837a2;margin-bottom: 5px;">
            <mat-icon svgIcon="done" style="color: #ffffff; width: 14px;  vertical-align: middle;"></mat-icon>
            <span style="color: #ffffff; font-size: 13px;">Change time</span>
          </button>
        }

        @if (cambiandoRemLawPros==true) {
          <button (click)="cancelarCambio(5)" class="btn-color"
            style="color: #000000; background: #ffffff;border: 0.5px solid #b1b1b1;margin-bottom: 5px;">
            <span style="color: #000000; font-size: 13px;">Cancel</span>
          </button>
        }
      </div>

      <!-- ================================================== -->

      <hr style="max-width:396px;margin-bottom:24px;">

    </div>
  </div>

  <!--Cargando-->
  @if (cargando) {
    <div class='iigwo-loading'>
      <mat-spinner></mat-spinner>
    </div>
  }

</div>
