<app-workspace-nav>
  <app-planificacion-nav></app-planificacion-nav>
</app-workspace-nav>
<div class='workspace'>
  <div class='main'>

    <app-experimental-menu titulo="User Availability">

    <button (click)='obtenerDisponibilidadUsuario()' class="btn"
      style="color: #FFFFFF;background: #f3c956; border-radius: 5px; height: 20px; line-height: 20px;">
      <mat-icon svgIcon="refresh" style="color:rgba(255, 255, 255, 0.7); width: 15px; height: 15px;margin-bottom: 2px;margin-right: 5px;"></mat-icon>
      <label style="margin: auto;color: #FFFFFF;text-transform: none;">Refresh</label>
    </button>

    <div style="width: 1px;
    height: 20px;
    background-color: #ccc;margin-right: 8px;" > </div>

    <button (click)='agregarDisponibilidad()' class="btn"
      style="color: #FFFFFF;background: #239B56; border-radius: 5px; height: 20px; line-height: 20px;">
      <mat-icon svgIcon="add-box" style="color:rgba(255, 255, 255, 0.7); width: 15px; height: 15px;margin-bottom: 2px;margin-right: 5px;"></mat-icon>
      <label style="margin: auto;color: #FFFFFF;text-transform: none;">Add Schedule Time</label>
    </button>



    <button (click)='agregarDisponibilidadMasiva()' class="btn"
      style="color: #FFFFFF;background: #681C69; border-radius: 5px; height: 20px; line-height: 20px;">
      <mat-icon svgIcon="file-upload" style="color:rgba(255, 255, 255, 0.7); width: 15px; height: 15px;margin-bottom: 2px;margin-right: 5px;"></mat-icon>
      <label style="margin: auto;color: #FFFFFF;text-transform: none;">Upload Schedule Time File</label>
    </button>

    <button (click)='descargarLayout()' class="btn"
      style="color: #FFFFFF;background: #3A2EAE; border-radius: 5px; height: 20px; line-height: 20px;">
      <mat-icon svgIcon="file-download" style="color:rgba(255, 255, 255, 0.7); width: 15px; height: 15px;margin-bottom: 2px;margin-right: 5px;"></mat-icon>
      <label style="margin: auto;color: #FFFFFF;text-transform: none;">Download Layout</label>
    </button>

  </app-experimental-menu>

  <div class='content'>

    <table class="informative">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Time Zone</th>
        <th></th>
      </tr>
      @for (e of arrDisponibilidadUsuario | slice:paginacion.begin:paginacion.end; track e) {
        <tr>
          <td class='accent'>{{e.fecha.replace(' ', 'T') | dateMMDDYYYY}}</td>
          <td class='accent'>{{e.hora.toString().padStart(2,'0')}} {{e.tipo}}</td>
          <td class='accent'> {{e.zonaHoraria}}</td>
          <td style="display: flex;">
            <!--<button (click)='eliminarDisponibilidad(e)' class="btn-icon" style="color: red;" matTooltip="Delete">
            <mat-icon svgIcon="delete"></mat-icon>
          </button>-->
          <button (click)='eliminarDisponibilidad(e)' class="btn-icon" >
            <mat-icon svgIcon="trashD" style="color: red; width: 18px; height: 18px;"></mat-icon>
          </button>
        </td>
      </tr>
    }
    <tr>
      <td colspan="99" style="text-align: right;line-height: 24px;" class="mini">
        <label>
        Records per page</label>
        <select [(ngModel)]="paginacion.size" (ngModelChange)="paginacion.fix()" [ngModelOptions]="{standalone: true}"[ngModelOptions]="{standalone: true}"
          style="margin: 0 8px; font-family: regular; height: 24px;">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        {{paginacion.begin + 1}}-{{paginacion.end}} of {{paginacion.array.length}}
        <button class="iigwo small"
          style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
          (click)="paginacion.back();">
          <mat-icon svgIcon="arrow-back"></mat-icon>
        </button>
        <button class="iigwo small"
          style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
          (click)="paginacion.forward();">
          <mat-icon svgIcon="arrow-forward"></mat-icon>
        </button>
      </td>
    </tr>
  </table>

</div>

<!--Cargando-->
@if (cargando) {
  <div class='iigwo-loading'>
    <mat-spinner></mat-spinner>
  </div>
}
</div>
</div>
