.input-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.badge-file-icon {
  /* position: absolute !important;*/
  margin: 4px !important;
  margin-left: 6px !important;
}

.badge-file-icon mat-icon {
  width: 20px !important;
  height: 20px !important;
  margin-top: 6px !important;
  margin-left: 2px !important;
}

.badge-file-icon svg {
  width: 20px !important;
  height: 20px !important;
}

