<h2 style="font-family: regular;color:#75518c" mat-dialog-title>{{titulo}}</h2>

<mat-dialog-content>

  <p style="font-family: regular;line-height: 1.2;" class="texto">
    {{texto}}
  </p>

  <div class="iigwo-input" *ngIf='comboboxItems'>
    <label style="font-family: regular;line-height: 1.2;">{{comboboxLabel}}</label>
    <select [(ngModel)]="selectedItem" [ngModelOptions]="{standalone: true}">
      <option *ngFor="let e of comboboxItems" [ngValue]="e">{{e[comboboxDisplayField]}}</option>
    </select>
    <p *ngIf='comboboxSublabel' style="margin-top: 2px; margin-bottom: 18px; font-size: 11px;">{{comboboxSublabel}}
    </p>
  </div>

  <div class="iigwo-input" *ngIf='textarea'>
    <label>{{textarea.label}}</label>
    <textarea [(ngModel)]="textarea.text" [placeholder]='textarea.placeholder' type="text"
      style="min-width:396px; min-height: 54px;"></textarea>
    <p *ngIf='textarea.sublabel' style="margin-top: 2px; margin-bottom: 18px; font-size: 11px;">
      {{textarea.sublabel}}</p>
  </div>

  <form *ngIf="fields">
    <div class="iigwo-input" *ngFor='let f of fields'>

      <label>{{f.label}}</label>

      <input (change)="onFieldChange($event, f)" [placeholder]="f.placeholder" [type]="f.type"
        *ngIf='f.type != "select" && f.type != "textarea"'>

      <textarea (change)="onFieldChange($event, f)" [placeholder]="f.placeholder" *ngIf='f.type == "textarea"'
        style="max-width:396px; height:64px; min-width:396px;" [maxLength]="f.maxLength"></textarea>

      <select [(ngModel)]="f.value" [ngModelOptions]="{standalone: true}" *ngIf='f.type == "select"' [ngModelOptions]="{standalone: true}">
        <option *ngFor='let o of f.options' [ngValue]="o.value">{{o.display}}</option>
      </select>
    </div>
  </form>

  <div *ngIf="warning">
    <p class="texto color-red">
      {{warning}}
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions class='dialog-actions'>
  <button *ngFor='let e of botones'
    [mat-dialog-close]="selectedItem && e.valor == 'ok' ? selectedItem : (!comboboxItems ? e.valor : null)"
    [ngClass]="{'accent':e.color == 'accent', 'primary':e.color == 'primary', 'iigwo':true}">{{e.texto}}</button>
</mat-dialog-actions>
