<h2 style="font-family: regular;color:#75518c" mat-dialog-title>{{titulo}}</h2>

<mat-dialog-content>

  <p style="font-family: regular;line-height: 1.2;" class="texto">
    {{texto}}
  </p>

  @if (comboboxItems) {
    <div class="iigwo-input">
      <label style="font-family: regular;line-height: 1.2;">{{comboboxLabel}}</label>
      <select [(ngModel)]="selectedItem" [ngModelOptions]="{standalone: true}">
        @for (e of comboboxItems; track e) {
          <option [ngValue]="e">{{e[comboboxDisplayField]}}</option>
        }
      </select>
      @if (comboboxSublabel) {
        <p style="margin-top: 2px; margin-bottom: 18px; font-size: 11px;">{{comboboxSublabel}}
        </p>
      }
    </div>
  }

  @if (textarea) {
    <div class="iigwo-input">
      <label>{{textarea.label}}</label>
      <textarea [(ngModel)]="textarea.text" [placeholder]='textarea.placeholder' type="text"
      style="min-width:396px; min-height: 54px;"></textarea>
      @if (textarea.sublabel) {
        <p style="margin-top: 2px; margin-bottom: 18px; font-size: 11px;">
        {{textarea.sublabel}}</p>
      }
    </div>
  }

  @if (fields) {
    <form>
      @for (f of fields; track f) {
        <div class="iigwo-input">
          <label>{{f.label}}</label>
          @if (f.type != "select" && f.type != "textarea") {
            <input (change)="onFieldChange($event, f)" [placeholder]="f.placeholder" [type]="f.type"
              >
          }
          @if (f.type == "textarea") {
            <textarea (change)="onFieldChange($event, f)" [placeholder]="f.placeholder"
            style="max-width:396px; height:64px; min-width:396px;" [maxLength]="f.maxLength"></textarea>
          }
          @if (f.type == "select") {
            <select [(ngModel)]="f.value" [ngModelOptions]="{standalone: true}" [ngModelOptions]="{standalone: true}">
              @for (o of f.options; track o) {
                <option [ngValue]="o.value">{{o.display}}</option>
              }
            </select>
          }
        </div>
      }
    </form>
  }

  @if (warning) {
    <div>
      <p class="texto color-red">
        {{warning}}
      </p>
    </div>
  }
</mat-dialog-content>

<mat-dialog-actions class='dialog-actions'>
  @for (e of botones; track e) {
    <button
      [mat-dialog-close]="selectedItem && e.valor == 'ok' ? selectedItem : (!comboboxItems ? e.valor : null)"
    [ngClass]="{'accent':e.color == 'accent', 'primary':e.color == 'primary', 'iigwo':true}">{{e.texto}}</button>
  }
</mat-dialog-actions>
