<h2 style="font-family: regular;color:#75518c" mat-dialog-title>New Event</h2>

<mat-dialog-content style="padding-right: 12px;">

    <div style="width: 450px;">
        

        <div style="display: flex;">

            <div class="iigwo-input">
                <label style="font-family:regular">Type</label>
                <select [(ngModel)]="eventoSolicitud.tipo" (ngModelChange)="typeSelected()" [ngModelOptions]="{standalone: true}">
                    <option value="Info">Info</option>
                    <option value="Schedule">Schedule</option>
                    <option value="Important">Important</option>
                    <option value="Suicide">Suicide</option>
                    <option *ngIf="rol == '11' || rol == '5' || rol == '2'" value="Interview review">Interview review</option>
                </select>
            </div>
           
        </div>

        <div class="iigwo-input" *ngIf="eventoSolicitud.tipo != 'Interview review'">
          <label>Comments</label>
          <textarea [(ngModel)]="eventoSolicitud.descripcion"></textarea>
      </div>

        <div style="display: flex;">

          <!-- <div class="iigwo-input" *ngIf="eventoSolicitud.tipo == 'Schedule'">
              <label>Date and Time</label>
              <input type="datetime-local" [(ngModel)]="eventoSolicitud.fecha">
          </div> -->

          <div class="iigwo-input" *ngIf="eventoSolicitud.tipo == 'Schedule' || eventoSolicitud.tipo == 'Interview review'">
            <label>Date</label>
            <input type="date" [(ngModel)]="eventoSolicitud.fecha">
          </div>
          <div class="iigwo-input" *ngIf="eventoSolicitud.tipo == 'Schedule' || eventoSolicitud.tipo == 'Interview review'">
            <label>Time</label>
            <select [(ngModel)]="eventoSolicitud.hora" style="min-width: 74px;" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let time of arrTime" [ngValue]="time">
                {{time}}</option>
            </select>
          </div>
          <div class="iigwo-input" *ngIf="eventoSolicitud.tipo == 'Schedule' || eventoSolicitud.tipo == 'Interview review'">
            <label>Type</label>
            <select [(ngModel)]="eventoSolicitud.tipoSchedule" style="min-width: 60px;" [ngModelOptions]="{standalone: true}">
              <option value="AM">AM</option>
              <option value="PM">PM</option>
            </select>
          </div>

          <div class="iigwo-input" *ngIf="eventoSolicitud.tipo == 'Schedule' || eventoSolicitud.tipo == 'Interview review'">
            <label>Time zone</label>
            <select [(ngModel)]="eventoSolicitud.timeZone" style="min-width: 60px;" [ngModelOptions]="{standalone: true}">
              <option value="PST">PST</option>
              <option value="EST">EST</option>
              <option value="CST">CST</option>
              <option value="MST">MST</option>
              <option value="AKST">AKST</option>
              <option value="HAST">HAST</option>
            </select>
          </div>
      </div>


    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="iigwo" style="margin-left:auto;" (click)='cerrar()'>Close</button>
    <button class="iigwo accent" style="margin-right:0;" (click)='crear()'>Save</button>
</mat-dialog-actions>

<!-- CARGANDO-->
<div class='iigwo-loading' *ngIf="cargando">
    <mat-spinner></mat-spinner>
</div>
