<div class="calendario-container">
  <div class="calendario">
    <div class="header-row">
      <div class="time-header">Time</div>
      @for (dia of diasSemana; track dia; let i = $index) {
        <div class="day-header">
          <div class="day-name">{{ dia }}</div>
          <div class="day-date">{{ obtenerFechaPorDia(i) }}</div>
        </div>
      }
    </div>

    @for (hora of horas; track hora) {
      <div class="time-row">
        <div class="time-cell">{{ hora }}</div>
        @for (dia of diasSemana; track dia; let i = $index) {
          <div class="day-cell">
            @for (cita of obtenerCitasPorDiaYHora(i, hora); track cita) {
              <div
                class="cita"
                [ngStyle]="{'background-color': procesarColor(cita.color, cita)}"
                [class.cita-finalizada]="cita.finSchedule"
                [class.cita-pendiente]="!cita.finSchedule"
                >
                @if (cita.importante && cita.importante.trim()) {
                  <div class="importante-indicator"></div>
                }
                <div class="cita-nombre">{{ cita.nombreUsuario }}</div>
                <div class="cita-hora-row">
                  <span class="calendar-icon">📅</span>
                  <span class="cita-hora">{{ cita.hora }} {{ cita.tipo }}</span>
                  @if (!cita.finSchedule) {
                    <img class="campana-pendiente" src="assets/svg/reminder.svg" alt="Recordatorio pendiente">
                  }
                  <span class="cita-separator">-</span>
                  <span class="cita-file">File: {{ cita.idSolicitud }}</span>
                </div>
                <div class="cita-attended-row">
                  <div class="badges-left">
                    @if (!cita.finSchedule) {
                      <span class="cita-estatus estatus-badge badge-right not-attended">Not attended</span>
                    }
                    @if (cita.finSchedule) {
                      <span class="cita-estatus estatus-badge badge-right attended">Attended</span>
                    }
                  </div>
                  @if (cita.descEst) {
                    <span class="cita-estatus estatus-badge badge-right">{{ cita.descEst }}</span>
                  }
                </div>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
