<h2 mat-dialog-title style="font-family: regular;color:#75518c">({{size}}) Law Firm Files " {{nombre}} "</h2>

<mat-dialog-content>
  @if (arrReporteFilesFirma.length > 0) {
    <table class="informative">
      <tr>
        <th>File</th>
        <th>Cliente</th>
        <th>Email</th>
        <th>Lawyer</th>
        <th>Lawyer email</th>
        <th>State</th>
      </tr>
      @for (e of arrReporteFilesFirma | slice:paginacion.begin:paginacion.end; track e) {
        <tr>
          <td>{{e.idSolicitud}}</td>
          <td>{{e.cliente}}</td>
          <td>{{e.email}}</td>
          <td>{{e.abogado}}</td>
          <td>{{e.emailAbogado}}</td>
          <td>{{e.estado}}</td>
        </tr>
      }
      <tr>
        <td colspan="99" style="text-align: right;line-height: 24px;" class="mini">
          <label>
          Records per page</label>
          <select [(ngModel)]="paginacion.size" (ngModelChange)="paginacion.fix()" [ngModelOptions]="{standalone: true}"
            style="margin: 0 8px; font-family: regular; height: 24px;">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
          {{paginacion.begin + 1}}-{{paginacion.end}} of {{paginacion.array.length}}
          <button class="iigwo small"
            style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
            (click)="paginacion.back();">
            <mat-icon svgIcon="arrow-back"></mat-icon>
          </button>
          <button class="iigwo small"
            style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
            (click)="paginacion.forward();">
            <mat-icon svgIcon="arrow-forward"></mat-icon>
          </button>
        </td>
      </tr>
    </table>
  }

</mat-dialog-content>

<mat-dialog-actions>

  <button (click)='descargarExcel()' class="btn"
    style="color: #000000;background: #e5e5e5; border-radius: 5px; height: 20px; line-height: 20px;">
    <mat-icon svgIcon="exportD"
    style="color:rgba(0, 0, 0, 0.7); width: 15px; height: 15px;margin-bottom: 2px;margin-right: 5px;"></mat-icon>
    <label style="margin: auto;color: #000000;text-transform: none;">Export Data</label>
  </button>


  <button class="iigwo accent" style="margin-left:auto;" (click)='cerrar()'>Ok</button>
</mat-dialog-actions>

<!-- CARGANDO-->
@if (cargando) {
  <div class='iigwo-loading'>
    <mat-spinner></mat-spinner>
  </div>
}
