<h2 mat-dialog-title style="font-family: regular;color:#75518c">Cancel Schedule</h2>

<mat-dialog-content>

  @if (arrCitasActivas.length > 0) {
    <div class="iigwo-input" style="min-width: 120px;">
      <label required>Reason for cancellation</label>
      <select [(ngModel)]="filterMotivoCancel" [ngModelOptions]="{standalone: true}">
        @for (e of arrFilterMotivoCancel; track e) {
          <option [ngValue]="e.descripcion">
          {{e.descripcion}}</option>
        }
      </select>
    </div>
  }

  @if (filterMotivoCancel == 'other') {
    <div class="iigwo-input" style="margin-bottom: 15px;">
      <label required>Cancel reason</label>
      <textarea [(ngModel)]="cancelReason"
      style="width: 100% !important;min-width: 100%;max-width: 100%;min-height: 40px;"></textarea>
    </div>
  }

  @if (arrCitasActivas.length > 0) {
    <table required class="informative">
      <tr>
        <th class=''></th>
        <th>User</th>
        <th>Schedule Type</th>
        <th>Date</th>
      </tr>
      @for (e of arrCitasActivas; track e) {
        <tr>
          <td class=''><input type="checkbox" [checked]="estaSeleccionado(e.idEvento)" (change)="check($event, e.idEvento)">
          </td>
          <td>{{e.nombreUsuario}}</td>
          <td>{{e.rol}}</td>
          <td>{{e.fecha}}</td>
        </tr>
      }
    </table>
  }

</mat-dialog-content>

<mat-dialog-actions>
  <button class="iigwo" style="margin-left:auto;" (click)='cerrar()'>Cancel</button>
  <button class="iigwo accent" style="margin-right:0;" [disabled]="!idEventoSelected " (click)='enviar()'>Send</button>
</mat-dialog-actions>

<!-- CARGANDO-->
@if (cargando) {
  <div class='iigwo-loading'>
    <mat-spinner></mat-spinner>
  </div>
}