<button class='iigwo menu-button' (click)='openNavMenu()'>
  <mat-icon svgIcon="menu"></mat-icon>
</button>

<img src="{{baseHref}}assets/img/company-logo-label-white.png" style="
    height: 25px;
    margin: 10px 0 0 1px;
    padding-right: 1px;
    margin-left: 50px;
    padding-left: 7px;
    ">

<div class='appNavMenuSearchLock'></div>

<label style="
        right: 32px;
        margin: 14px 18px 0px 0;
        text-align: right;
        color: white;
        padding-right: 32px;
        line-break: loose;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 10px;
        margin-left: auto;
    ">{{usuario.nombre}}</label>

<button id='user-button' class='iigwo' (click)='focusUserDiv()'>
    <img src="{{this.imageUsuario}}" style="
            height: 32px;
            width: 32px;
            margin: 0;
            border-radius: 50%;
        ">
</button>

<div #userDiv class='app-nav-user view-profile-card' tabindex="1" id="viewProfile">
  <div class="vp-header">
    <img src="{{this.imageUsuario}}" style="
            height: 32px;
            width: 32px;
            margin: 0;
            border-radius: 50%;
        ">
    <div class="vp-names">
      <span class="vp-name">{{usuario.nombre}}</span>
      <span class="vp-username">{{usuario.usuario}}</span>
    </div>
  </div>
  <div class="vp-divider"></div>
  <a routerLink="/credenciales" class="vp-view-profile" (focus)="focusUserDiv()" (click)="userDiv.first.nativeElement.blur()">
    <mat-icon svgIcon="userD"></mat-icon>
    <span>View profile</span>
  </a>
  <button (click)="logout()" class="btn-color"
              style="color: #FFFFFF;background: #7e248e; width:100%;">
              <span style="color: #FFFFFF; font-size: 13px;">Logout</span>
              <mat-icon svgIcon="logoutD"
              style="color: rgba(255, 255, 255, 0.7); width: 14px;  vertical-align: middle;"></mat-icon>
            </button>
  <div class="vp-divider"></div>
  <span class="vp-version">{{versionWeb}}</span>
</div>

<div #menuDiv [ngClass]='{"app-nav-menu":true, "hidden":utilService.appNavMenuHidden}'>
  <div class='app-nav-menu-hide' (click)="closeAppNavMenu()"></div>
  <div class='app-nav-menu-bar'></div>
  <div class='app-nav-menu-panel unified-panel'>
    <div class="unified-header">
      <button class='iigwo app-nav-menu-panel-home' (click)='onNavHomeItemClick()'>
        <img src="{{baseHref}}assets/img/logo.png">
        <label>Psychol. Evaluation</label>
      </button>
      <button class="collapse-btn" (click)="closeAppNavMenu()" aria-label="close">
        <mat-icon svgIcon="arrow-back"></mat-icon>
      </button>
    </div>

    <div class='app-nav-menu-panel-content unified-content'>
      <div class='iigwo-pseudo unified-filter' style="display:none">
        <mat-icon svgIcon="search"></mat-icon>
        <input #appNavMenuFilterInput placeholder="Filter"
          [(ngModel)]="appNavMenuFilter" (ngModelChange)="filterChange()" type="text">
      </div>

      <div class="unified-menu">
        @for (g of filteredMenuGroups; track g.module.uri) {
          <div class="menu-group" [class.expanded]="g.expanded">
            <button class="group-header" (click)="toggleGroup(g)">
              <mat-icon [svgIcon]="g.module.svgName" class="group-icon"></mat-icon>
              <span class="group-title">{{g.module.title}}</span>
              <mat-icon svgIcon="arrow-forward" class="expand-icon" [class.rotated]="g.expanded"></mat-icon>
            </button>
            @if (g.expanded) {
              <div class="submenu">
                <div class="submenu-line"></div>
                <div class="submenu-items">
                  @for (item of g.items; track item.uri) {
                    <button class="submenu-item" [class.active]="isItemActive(item)" (click)="onSubItemClick(item)">
                      <mat-icon [svgIcon]="item.svgName" class="submenu-icon"></mat-icon>
                      <span>{{item.title}}</span>
                    </button>
                  }
                </div>
              </div>
            }
          </div>
        }
        @if (filteredMenuGroups.length === 0) {
          <p class="no-results">No results</p>
        }
      </div>
    </div>
  </div>
</div>
